<!-- TEAM -->
<div class="container my-5">
    <div class="row">
      <div class="col-6">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-3">
              <img src="assets/img/team/max.jpg" alt="Max" class="team-img" />
            </div>
            <div class="col-3">
              <img
                src="assets/img/team/korbinian.jpg"
                alt="Korbinian"
                class="team-img"
              />
            </div>
            <div class="col-3">
              <img src="assets/img/team/iris.jpg" alt="Iris" class="team-img" />
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-4">
              <img
                src="assets/img/team/thomas.jpg"
                alt="Thomas"
                class="team-img"
              />
            </div>
            <div class="col-4">
              <img src="assets/img/team/vera.jpg" alt="Vera" class="team-img" />
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-4">
              <img
                src="assets/img/team/julian.jpg"
                alt="Julian"
                class="team-img"
              />
            </div>
            <div class="col-4">
              <img
                src="assets/img/team/sebastian.jpg"
                alt="Iris"
                class="team-img"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 align-self-center">
        <h4 class="primary-color">Das Team</h4>
        <p class="lead">
          Das Team hinter naklar.io – engagiert und motiviert, Schüler*innen in
          dieser Zeit mit der richtigen Unterstützung unter die Arme zu greifen.
        </p>       
      </div>
    </div>
    <br>
    <div class="row">
        <div class="col-6">
          <h4 class="primary-color">Lorem Ipsum</h4>
          <p class="lead">
            Lorem Ipsum
          </p>         
        </div>
        <div class="col-6 align-self-center"></div>
    </div>
    <div class="row">
      <div class="col-6">           
      </div>
      <div class="col-6 align-self-center">
        <h4 class="primary-color">Lorem Ipsum</h4>
        <p class="lead">
          Lorem Ipsum
        </p>      
      </div>
  </div>
  </div>