  <div class="row">
    <div class="col-md-6">
      <h1 class="primary-color">
        Frage deinen Tutor auf Knopfdruck. Kostenlos.
      </h1>
      <p class="lead">
        Wir lassen Schüler nicht im Stich. Ehrenamtliche Tutoren finden
        leichte Antworten auf schwere Fragen. Und das ganz einfach und für jeden
        zugänglich per Knopfdruck.
      </p>

      <div class="my-5"></div>
      <!-- TRYOUT -->
      <p class="text-center">
        Du hast eine Frage oder willst als Tutor helfen? Direkt starten: Ich
        bin...
      </p>
      <div class="row">
        <div class="col-6">
          <a
            routerLink="/account/student/register"
            class="btn btn-primary btn-block"
            >Schüler</a
          >
        </div>
        <div class="col-6">
          <a
            routerLink="/account/tutor/register"
            class="btn btn-primary btn-block"
            >Tutor</a
          >
        </div>
      </div>
    </div>


    <div class="col-md-6 justify-content-center">
      <img
        src="assets/img/showcase.png"
        alt="naklar.io Produkt Showcase"
        class="img-fluid"
      />
<!--      <div class="py-5 text-center">-->
<!--        <h3 class="primary-color">Eine Initiative von:</h3>-->
<!--        <img-->
<!--          src="assets/img/partners/wirvsvirus.jpg"-->
<!--          alt="wirvisvirus logo"-->
<!--          class="img-fluid"-->
<!--          style="width: 75%;"-->
<!--        />-->
<!--      </div>-->
    </div>
  </div>


<!--  <hr />-->

  <home-more-information></home-more-information>

  <!-- FEATURES
<div class="row my-5 justify-content-center">
  <div class="col-6 text-center">
    <h2 class="primary-color">Fragen auf Knopfdruck</h2>
    <p>
      Du hast Fragen zum Schulstoff? Viele engagierte Tutoren stehen für
      Dich bereit. Per Video- oder Audiochat kannst Du ganz bequem und einfach
      Deine Fragen stellen. Du kannst die Aufgabenstellung per Foto hochladen
      und über eine virtuelle Tafel wird dir der Tutor Deine Fragen bestmöglich
      erklären.
    </p>
  </div>
  <div class="col-6 text-center">
    <h2 class="primary-color">Für jeden zugänglich</h2>
    <p>
      Jeder kann helfen. Und helfen kann so einfach sein! Engagierte Tutor
      können in ihren freien Zeiten flexibel Schülern helfen. Der
      kostenlose Zugang ermöglicht allen Schülern einfach und schnell per
      Knopfdruck Antworten auf ihre Fragen zum Schulstoff zu bekommen. So geht
      Chancengleichheit!
    </p>
  </div>
  <div class="col-6 text-center">
    <h2 class="primary-color">Verifizierte Tutoren</h2>
    <p>
      Sicherheit und Vertrauen ist uns wichtig. Mithilfe eines Bewertungssystems
      steuern wir die Qualität unserer Tutoren. Zusätzlich wird die Identität
      der naklar.io Tutoren einzeln geprüft, um aktive Schüler zu
      schützen.
    </p>
  </div>
</div>
 -->
