<div class="container">
  <div class="row my-5">
    <div class="col-6 col-md">
      <h1 class="primary-color">
        Frage deien Tutor auf Knopfdruck. <br />Kostenlos.
      </h1>
      <p class="lead">
        Wir lassen Schüler*innen nicht im Stich. Wir bringen sie mit geprüften
        Tutor*innen zusammen und unterstützen so unsere zukünftige Generation
        während des Schulausfalls!
      </p>

      <div class="my-5"></div>
      <!-- TRYOUT -->
      <p>
        Wie möchtest du naklar.io nutzen? Bist du Schüler und hast eine Frage
        oder möchtest du dich als Tutor engagieren?
      </p>
      <p>Ich bin...</p>
      <div class="row my-1">
        <div class="col-6">
          <a routerLink="/account/student" class="btn btn-primary btn-block"
            >Schüler</a
          >
        </div>
        <div class="col-6">
          <a routerLink="/account/tutor" class="btn btn-primary btn-block"
            >Tutor</a
          >
        </div>
      </div>
      <div class="row my-1">
        <div class="col-6">
          <a
            routerLink="/roulette/student"
            class="btn btn-primary btn-block"
            >DEBUG: Roulette Schüler</a
          >
        </div>
        <div class="col-6">
          <a
            routerLink="/roulette/tutor"
            class="btn btn-primary btn-block"
            >DEBUG: Roulette Tutor</a
          >
        </div>
      </div>
    </div>

    <div class="col-6 col-md">
      <img
        src="assets/img/showcase.png"
        alt="naklar.io Produkt Showcase"
        class="img-fluid"
      />
      <div class="py-5 text-center">
        <h3 class="primary-color">Eine Initiative von:</h3>
        <img
          src="assets/img/partners/wirvsvirus.jpg"
          alt="wirvisvirus logo"
          class="img-fluid"
          style="width: 75%;"
        />
      </div>
    </div>
  </div>
</div>

<hr />

<!-- FEATURES -->
<div class="container">
  <div class="row my-5">
    <div class="col-6 col-md text-center">
      <h2 class="primary-color">Fragen auf Knopfdruck</h2>
      <p>
        Eine Vielzahl an engagierten Tutor*innen steht jederzeit für Dich auf
        Knopfdruck zur Verfügung. Probiere es gleich aus und stelle Deine Frage!
      </p>
    </div>
    <div class="col-6 col-md text-center">
      <h2 class="primary-color">Für jeden zugänglich</h2>
      <p>
        Jeder kann helfen. Und helfen kann so einfach sein! Engagierte können
        ganz einfach Tutor werden und in ihren verfügbaren Zeiten flexibel
        Schüler*innen helfen. Der kostenlose Zugang ermöglicht Schülerinnen und
        Schülern per Knopfdruck auf Tutor*innen zuzugreifen und bequem ihre
        Fragen zu stellen.
      </p>
    </div>
    <div class="col-6 col-md text-center">
      <h2 class="primary-color">Geprüfte Tutor*innen</h2>
      <p>
        Sicherheit und Vertrauen sind wichtig. Unser Tutor*innen werden einzeln
        überprüft und mithilfe eines Bewertungssystems kontrolliert.
      </p>
    </div>
  </div>
</div>
