<div class="row my-5">
  <div class="col-md-6">
    <h1 class="primary-color">
      Frage deien Tutor auf Knopfdruck. <br />Kostenlos.
    </h1>
    <p class="lead">
      Wir lassen Schüler*innen nicht im Stich! Wir bieten Ihnen die Möglichkeit,
      sich bei Schulfragen an geprüfte Tutor*innen online zu wenden. Helfen so
      den Schüler*innen, aber entlasten auch die Eltern und Lehrkräfte in Zeiten
      des Schulausfalls.
    </p>

    <div class="my-5"></div>
    <!-- TRYOUT -->
    <p>
      Du bist Schüler*in und hast eine Frage oder möchtest dich als Tutor
      engagieren? Hier kannst du direkt loslegen: Ich bin…
    </p>
    <div class="row">
      <div class="col-6">
        <a [routerLink]="studentLink" class="btn btn-primary btn-block"
          >Schüler</a
        >
      </div>
      <div class="col-6">
        <a [routerLink]="tutorLink" class="btn btn-primary btn-block">Tutor</a>
      </div>
    </div>
  </div>

  <div class="col-md-6 justify-content-center">
    <img
      src="assets/img/showcase.png"
      alt="naklar.io Produkt Showcase"
      class="img-fluid"
    />
    <div class="py-5 text-center">
      <h3 class="primary-color">Eine Initiative von:</h3>
      <img
        src="assets/img/partners/wirvsvirus.jpg"
        alt="wirvisvirus logo"
        class="img-fluid"
        style="width: 75%;"
      />
    </div>
  </div>
</div>

<!-- FEATURES -->
<div class="row my-5 justify-content-center">
  <div class="col-6 text-center">
    <h2 class="primary-color">Fragen auf Knopfdruck</h2>
    <p>
      Du hast Fragen zum Schulstoff? Viele engagierte Tutor*innen stehen für
      Dich bereit. Per Video- oder Audiochat kannst Du ganz bequem und einfach
      Deine Fragen stellen. Du kannst die Aufgabenstellung per Foto hochladen
      und über eine virtuelle Tafel wird dir der Tutor Deine Fragen bestmöglich
      erklären.
    </p>
  </div>
  <div class="col-6 text-center">
    <h2 class="primary-color">Für jeden zugänglich</h2>
    <p>
      Jeder kann helfen. Und helfen kann so einfach sein! Engagierte Tutor
      können in ihren freien Zeiten flexibel Schüler*innen helfen. Der
      kostenlose Zugang ermöglicht allen Schüler*innen einfach und schnell per
      Knopfdruck Antworten auf ihre Fragen zum Schulstoff zu bekommen. So geht
      Chancengleichheit!
    </p>
  </div>
  <div class="col-6 text-center">
    <h2 class="primary-color">Verifizierte Tutor*innen</h2>
    <p>
      Sicherheit und Vertrauen ist uns wichtig. Mithilfe eines Bewertungssystems
      steuern wir die Qualität unserer Tutoren. Zusätzlich wird die Identität
      der naklar.io Tutoren einzeln geprüft, um aktive Schüler*innen zu
      schützen.
    </p>
  </div>
</div>
