<div class='spacer'></div>
<hr />
<div class="container my-5">
    <div class="row">
      <div class="col-12 col-md">
        <a href="#">
          <img
            src="assets/img/Logo.png"
            alt="naklar.io logo"
            class="img-fluid"
            style="width:150px;"
          />
        </a>
        <pre>copyright?</pre>
      </div>
      <div class="col-6 col-md">
        <h5>Produkt</h5>
        <ul class="list-unstyled text-small">
          <li><a href="#" class="text-muted">Lehrer</a></li>
          <li><a href="#" class="text-muted">Schüler</a></li>
          <li><a href="#" class="text-muted">Eltern</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Ressourcen</h5>
        <ul class="list-unstyled text-small">
          <li><a href="#" class="text-muted">Hilfe & Support</a></li>
          <li><a href="#" class="text-muted">Feedback</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Unternehmen</h5>
        <ul class="list-unstyled text-small">
          <li><a href="impressum" class="text-muted">Impressum</a></li>
          <li><a href="datenschutz" class="text-muted">Datenschutz</a></li>
          <li><a href="about" class="text-muted">Über uns</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Mehr</h5>
        <ul class="list-unstyled text-small">
          <li><a href="#" class="text-muted">Partner</a></li>
          <li><a href="#" class="text-muted">Förderung</a></li>
        </ul>
      </div>
    </div>
  </div>
  