.banner {
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: justify;
  text-justify: inter-word;
  text-align-last: center;
}
.banner a:link {

}

.banner-error {
}

.banner-warning {
}

.banner-info {
}
