<div
  class="banner alert d-flex justify-content-center"
  [ngClass]="getClass('info')"
>
  <div class="col-md-10">
    <span>
      Hi {{ user.first_name }}, Aktuell befindet sich unsere Plattform in der
      Beta-Phase. Um ein reibungsloses Matching zwischen Schülern und Tutoren zu
      ermöglichen
      <strong>
        empfehlen wir die Nutzung zu folgenden Zeiten: Donnerstag, 14-17h &
        Freitag 10-13h.
      </strong>
      Auch in diesen Zeiten kann es zu Wartezeiten beim Matching kommen. Schreib
      uns bei Anregungen oder Hinweisen gerne eine Mail an
      <a class="text-light" href="mailto:info@naklar.io">info@naklar.io</a
      >.
    </span>
  </div>
</div>
