<div class="container">
  <h1 class="primary-color">Willkommen zurück</h1>
  <p class="lead">Wir freuen uns dich wieder zu sehen!</p>
  <div class="row">
    <div class="col-6">
      <form>
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label for="">Passwort</label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group">
          <a routerLink="/">Passwort vergessen?</a>
        </div>
        <button class="btn btn-primary">Login</button>

        <p>
          Du hast noch keinen Account?
          <a routerLink="register">Registrier dich doch</a>
        </p>
      </form>
    </div>
    <div class="col">
      <pre>cool image!</pre>
    </div>
  </div>
</div>
