<div class="container">
  <h1 class="primary-color">Tutoren sind gern gesehen</h1>
  <p class="lead">
    Nur durch die aktive Unterstützung unserer Tutoren können wir tausenden
    Schülern helfen.
  </p>

  <form>
    <div class="form-row">
      <div class="form-group col">
        <label for="first-name">Vorname</label>
        <input type="text" class="form-control" id="first-name" />
      </div>
      <div class="form-group col">
        <label for="last-name">Nachname</label>
        <input type="text" class="form-control" id="last-name" />
      </div>
    </div>
    <div class="form-row">
      <div class="from-group col">
        <label for="email">Email</label>
        <input type="text" name="" id="email" class="form-control" />
      </div>
      <div class="form-group col">
        <label for="password">Passwort</label>
        <input type="text" name="" id="password" class="form-control" />
      </div>
    </div>
    <div class="form-row">
      <div class="from-group col">
        <label for="state">Bundesland</label>
        <select name="" id="state" class="form-control">
          <option selected>Bayern</option>
          <option>Baden-Württemberg</option>
          <option>...</option>
        </select>
      </div>
    </div>

    <p>Schultypen</p>
    <div class="form-row">
      <div class="form-check form-check-inline">
        <input type="checkbox" name="" id="school-type-1" class="form-check-input" />
        <label for="school-type-1" class="form-check-label">Gymnasium</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="checkbox" name="" id="school-type-2" class="form-check-input" />
        <label for="school-type-2" class="form-check-label">Realschule</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="checkbox" name="" id="school-type-3" class="form-check-input" />
        <label for="school-type-3" class="form-check-label">Mittelschule</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="checkbox" name="" id="school-type-4" class="form-check-input" />
        <label for="school-type-4" class="form-check-label">FOS / BOS</label>
      </div>
    </div>
  </form>
</div>
