[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "~=3.0.1"
channels = "*"
django-celery-beat = "*"
celery = "<5.0.0"
daphne = "*"
djangorestframework = "*"
django-filter = "*"
django-rest-knox = "*"
django-multiselectfield = "*"
django-cors-headers = "*"
djangorestframework-camel-case = "*"
drf-base64 = "*"
drf-writable-nested = "*"
django-push-notifications = "*"
django-post-office = "*"
requests = "*"
drf-yasg = "*"
mysqlclient = "*"
psycopg2 = "*"
pillow = "*"
channels-redis = "*"

[requires]
python_version = "3.8"
