[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
django-debug-toolbar = "*"

[packages]
django = "~=3.1.0"
channels = "*"
django-celery-beat = "~=2.1.0"
celery = "~=5.0"
daphne = "*"
djangorestframework = "*"
django-filter = "*"
django-rest-knox = "*"
django-multiselectfield = "*"
django-cors-headers = "*"
djangorestframework-camel-case = "*"
drf-base64 = "*"
drf-writable-nested = "*"
django-push-notifications = "*"
django-post-office = "*"
requests = "*"
drf-yasg = "*"
psycopg2 = "*"
pillow = "*"
channels-redis = "*"

[requires]
python_version = "3.9"
