<div class="container">
  <div class="card">
    <div class="row">
      <div class="col-12 col-md-2">
        <h6>Mathe</h6>
      </div>
      <div class="col-7 col-md-3">Montag 20.November</div>
      <div class="col-5 col-md-3">15:15-15:45</div>
      <div class="col-md-2 col-6 btns">
        <!--<button type="button" class="btn btn-outline-info" disabled>Angefragt</button>
        <button type="button" class="btn btn-outline-success" disabled>Bestätigt</button> 
        <button type="button" class="btn btn-outline-danger" disabled>Abgesagt</button> -->
        <button type="button" class="btn btn-success">Starten</button>
      </div>
      <div class="col-md-2 col-6 btns">
        <button type="button" class="btn btn-outline-secondary">Absagen</button>
      </div>
    </div>
  </div>
</div>
