<div id="app" #app>
  <ngx-loading-bar color="#EF8515"></ngx-loading-bar>

  <header *ngIf="!fullscreen">
    <app-navbar *ngIf="!fullscreen"></app-navbar>
    <!-- <div
      style="width: 100%; height: 66px; position: relative; display: block"
    ></div >-->

    <app-banner></app-banner>
    <misc-toasts></misc-toasts>
  </header>

  <main [class.py-3]="!fullscreen" #main>
    <section>
      <router-outlet></router-outlet>
    </section>
    <footer *ngIf="!fullscreen">
      <app-footer ></app-footer>
    </footer>
  </main>
</div>