.noscroll {
  height: 100%;
  position: fixed;
}

#app {
}

#app > header {
  position: sticky;
  -webkit-position: sticky;
  top: 0;
  border-bottom: 4px solid var(--orange);
  z-index: 999;
}

#app > main {
}