
.submit-button {
    place-self: center;
    margin: 1rem;
}


.clickable-card {
    border-radius: 12px;
    cursor: pointer;
    background-color: #fff;
    .card-img-top {
        filter: grayscale(100%);
        border-radius: 12px 12px 0 0;
    }
}

.clickable-card.isOnline {
    .card-img-top {
        filter: none;
    }
}


.overlayDiv {
    filter: none;
    transition: filter 100ms ease-in-out;
}

.inactiveOverlay {
    filter: blur(1rem);
    .clickable-card {
        cursor: none;
        pointer-events: none;
    }
}
