<h1 class="primary-color">Finde deinen Tutor</h1>

<div *ngIf="user$ | async as user; else loading">
  <p>
    Hey {{ user.first_name }}, Gib uns noch ein paar Informationen von dir,
    damit wir den perfekten Tutor für dich finden können:
  </p>

  <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
    <label for="subjects">Für welches Fach hast du eine Frage?</label>
    <select name="subjects" class="form-control" [formControl]="f.subject">
      <option *ngFor="let subject of constants.subjects" [ngValue]="subject">
        {{ subject.name }}
      </option>
    </select>

    <p>Diese Informationen haben wir in deinem Account gefunden:</p>
    <div class="form-row">
      <label for="state">Bundesland</label>
      <select name="state" class="form-control" [formControl]="f.state">
        <option *ngFor="let state of constants.states" [ngValue]="state">
          {{ state.name }}
        </option>
      </select>

      <div class="from-group col">
        <ng5-slider
          [options]="slider_options"
          formControlName="slider"
        ></ng5-slider>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Finde deinen Tutor</button>
  </form>
</div>

<ng-template #loading>
  <div class="container">
    <span class="spinner-border spinner-border-sm mr-1"></span>
  </div>
</ng-template>
