<!-- TEAM -->
<div class="container my-5">
  <p>
    Mehr als 11 Millionen Schüler sind seit der Corona-Krise zwangsweise im
    “Home-Schooling”. Mit naklar.io wollen wir ehrenamtliche Tutoren mit diesen
    Schülern zusammenbringen und Ihnen per Knopfdruck Fragen beantworten. Seit
    dem #wirvsvirus Hackathons der Bundesregierung arbeitet unser Team daher an
    diesem Projekt.
  </p>

  <div class="spacer"></div>

  <div class="row">
    <div class="col-6">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-3">
            <img src="assets/img/team/max.jpg" alt="Max" class="team-img" />
          </div>
          <div class="col-3">
            <img
              src="assets/img/team/korbinian.jpg"
              alt="Korbinian"
              class="team-img"
            />
          </div>
          <div class="col-3">
            <img src="assets/img/team/iris.jpg" alt="Iris" class="team-img" />
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-4">
            <img
              src="assets/img/team/thomas.jpg"
              alt="Thomas"
              class="team-img"
            />
          </div>
          <div class="col-4">
            <img src="assets/img/team/vera.jpg" alt="Vera" class="team-img" />
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-4">
            <img
              src="assets/img/team/julian.jpg"
              alt="Julian"
              class="team-img"
            />
          </div>
          <div class="col-4">
            <img
              src="assets/img/team/sebastian.jpg"
              alt="Iris"
              class="team-img"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 align-self-center">
      <h4 class="primary-color">Das Team</h4>
      <p class="lead">
        Das Team hinter naklar.io - engagiert und motiviert! Wir sind ein
        siebenköpfiges Team von Studenten, die Schüler*innen in dieser Zeit mit
        der richtigen Unterstützung unter die Arme greifen.
      </p>
    </div>
  </div>

  <div class="spacer"></div>

  <div class="row">
    <h2 class="primary-color">Die “BWLer”</h2>
    <p>
      Iris Stierlen, Sebastian Scott und Thomas Wunderlich sind die BWLer bei
      uns im Team. Sie kümmern sich unter anderem um die Prozesse, Texte,
      Rechtliches und Design im Frontend und stehen den Nutzern und Nutzerinnen
      als Ansprechpartner zur Verfügung.
    </p>
  </div>
  <div class="row">
    <h2 class="primary-color">Die “Techies”</h2>
    <p>
      Unsere Techis, Korbinian Stein, Vera K., Max Frühauf und Julian Rixner
      kümmern sich bei uns um die technische Umsetzung. Sie sind dafür
      Verantwortlich, dass unsere Plattform für die Nutzer und Nutzerinnen so
      flüssig und einfach funktioniert.
    </p>
  </div>
</div>
