<div class="container">
  <div *ngIf="state === 'create'">
    <roulette-student
      *ngIf="type === 'student'"
      (done)="onCreateDone($event)"
    ></roulette-student>
    <roulette-tutor
      *ngIf="type === 'tutor'"
      (done)="onCreateDone($event)"
    ></roulette-tutor>
  </div>

  <div *ngIf="state === 'wait'">
    <roulette-wait
      [requestType]="type"
      (done)="onWaitDone($event)"
    ></roulette-wait>
  </div>

  <div *ngIf="state === 'match'">
    <pre>Match state</pre>
  </div>

  <div *ngIf="state === 'session'">
    <pre>Session state</pre>
  </div>

  <hr />

  <pre>TODO: REPLACE more sensible explanation of /roulette/</pre>

  <!-- FEATURES -->
  <div class="container">
    <div class="row my-5">
      <div class="col-6 col-md text-center">
        <h2 class="primary-color">Fragen auf Knopfdruck</h2>
        <p>
          Eine Vielzahl an engagierten Tutor*innen steht jederzeit für Dich auf
          Knopfdruck zur Verfügung. Probiere es gleich aus und stelle Deine
          Frage!
        </p>
      </div>
      <div class="col-6 col-md text-center">
        <h2 class="primary-color">Für jeden zugänglich</h2>
        <p>
          Jeder kann helfen. Und helfen kann so einfach sein! Engagierte können
          ganz einfach Tutor werden und in ihren verfügbaren Zeiten flexibel
          Schüler*innen helfen. Der kostenlose Zugang ermöglicht Schülerinnen
          und Schülern per Knopfdruck auf Tutor*innen zuzugreifen und bequem
          ihre Fragen zu stellen.
        </p>
      </div>
      <div class="col-6 col-md text-center">
        <h2 class="primary-color">Geprüfte Tutor*innen</h2>
        <p>
          Sicherheit und Vertrauen sind wichtig. Unser Tutor*innen werden
          einzeln überprüft und mithilfe eines Bewertungssystems kontrolliert.
        </p>
      </div>
    </div>
  </div>
</div>
