<div class="container">
    <div>
        <h1>Unsere Partner</h1>
    </div>
    <div class="row align-items-center">
        <div class="col-12 col-md-4">
            <img class="card-img" [src]="'assets/img/partners/10 accenture.png'" alt="" />
        </div>
        <div class="col-12 col-md-8">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-12 col-md-8">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
        </div>
        <div class="col-12 col-md-4 order-first order-md-last">
            <img class="card-img" [src]="'assets/img/partners/11 latham_and_watkins.png'" alt="" />
        </div>
    </div>
</div>
