<div class="container">
    <div>
        <h1>Unsere Partner</h1>
        <p class="lead grey" id="greyLead">
            Ohne unsere Partner und Ihre intensive Unterstützung wäre naklar.io nicht dort wo es
            jetzt ist. Tagtäglich unterstützen Sie unsere Arbeit und unsere Mission Schülerinnen und
            Schülern zielgerichtet zu helfen.

            <br />
            Sie finden auch, dass noch mehr im Bereich der digitalen Bildung getan werden muss?
            Schreiben Sie uns an <a href="mailto:partner@naklar.io">partner@naklar.io</a>
        </p>
    </div>
    <br>
    <div class="row align-items-center">
        <div class="col-12 col-md-4">
            <img class="card-img" [src]="'assets/img/partners/10 accenture.png'" alt="" />
        </div>
        <div class="col-12 col-md-8">
            Im Rahmen der Accenture-Stiftung unterstützt Accenture naklar.io bei der technischen
            Weiterentwicklung der Plattform.
        </div>
    </div>
    <br>
    <div class="row align-items-center">
        <div class="col-12 col-md-8">
            Das Erklärfilm-Studio hat sich auf die Erstellung von Illustrationen, Erklärfilmen,
            Infografiken und Grafik-Recording spezialisiert. Der Expertise des Studios hat naklar.io
            einen Großteil der Grafiken und Visualisierungen auf der Webseite zu verdanken.
        </div>
        <div class="col-12 col-md-4 order-first order-md-last">
            <img class="card-img" [src]="'assets/img/partners/12 erklflmstd.png'" alt="" />
        </div>
    </div>
    <br>
    <div class="row align-items-center">
        <div class="col-12 col-md-4">
            <img class="card-img" [src]="'assets/img/partners/15 smk.png'" alt="" />
        </div>
        <div class="col-12 col-md-8">
            naklar.io kooperiert mit dem dem sächsischen Staatsministerium für Kultus und hilft so
            besonders unterstützenswerten Schülerinnen und Schülern im Freistaat Sachsen. Mehr
            Informationen hierzu unter <a href="sachsen.naklar.io">sachsen.naklar.io</a>
        </div>
    </div>
    <br>
    <div class="row align-items-center">
        <div class="col-12 col-md-8">
            Als Gewinnerprojekt des #wirfürschule Hackathons 2020, ist naklar.io Teil einer großen
            Gemeinschaft an Bildungs-Pionieren in Deutschland. Das Projekt #wirfürschule des Vereins
            Digitale Bildung für Alle e.V. organisiert regelmäßige Events Rund um das Thema digitale
            Bildung und der Bildung der Zukunft.
        </div>
        <div class="col-12 col-md-4 order-first order-md-last">
            <img class="card-img" [src]="'assets/img/partners/09 wfs_logo.png'" alt="" />
        </div>
    </div>
    <br>
    <div class="row align-items-center">
        <div class="col-12 col-md-4">
            <img class="card-img" [src]="'assets/img/partners/13 lmu.png'" alt="" />
        </div>
        <div class="col-12 col-md-8">
            In Kooperation mit der Ludwig-Maximilians Universität und Prof. Dr. Hauck-Thum pilotiert
            naklar.io verschiedene hybride Lernmethoden im pädagogischen und didaktischen Kontext.
        </div>
    </div>
    <br>
    <div class="row align-items-center">
        <div class="col-12 col-md-8">
            Mit ihrem Pro-Bono Engagement unterstützt die renommierte Anwaltskanzlei Latham &
            Watkins naklar.io bei der Ausgetsaltung eines rechtlich geschützten Raumes für
            Schülerinnen und Schüler.
        </div>
        <div class="col-12 col-md-4 order-first order-md-last">
            <img class="card-img" [src]="'assets/img/partners/11 latham_and_watkins.png'" alt="" />
        </div>
    </div>
    <br>
    <div class="row align-items-center">
        <div class="col-12 col-md-4">
            <img class="card-img" [src]="'assets/img/partners/13 lmu.png'" alt="" />
        </div>
        <div class="col-12 col-md-8">
            Das Projekt Help & Learn Hybrid rund um Dr. Michael Kirch arbeitet gemeinsam mit
            naklar.io an der pädagogisch didaktischen Weiterentwicklung der Plattform im Rahmen
            hybrider Lernmethoden an ausgewählten Schulen.
        </div>
    </div>
    <br>
    <div class="row align-items-center">
        <div class="col-12 col-md-8">
            Das Manage&More Programm der UnternehmerTUM unterstützt unser Team bei der strategischen
            Ausrichtung und Entwicklung eines nachhaltigen Social-Entrepreneurship Konzeptes.
        </div>
        <div class="col-12 col-md-4 order-first order-md-last">
            <img class="card-img" [src]="'assets/img/partners/06 mam.png'" alt="" />
        </div>
    </div>
    <br>
    <div class="row align-items-center">
        <div class="col-12 col-md-4">
            <img class="card-img" [src]="'assets/img/partners/14 goodgrade.png'" alt="" />
        </div>
        <div class="col-12 col-md-8">
            Das Unternehmen goodgrade unterstützt naklar.io mit seiner langjährigen Expertise in der
            professionellen Einzelförderung von Schülerinnen und Schülern.
        </div>
    </div>
</div>
