<div class="container">
  <h1 class="primary-color">Registrierung als Schüler*in</h1>
  <p class="lead">
    Wir brauchen hier noch ein paar Informationen von dir.
  </p>


  <div *ngIf="submitSuccess" class="alert alert-success text-center">
    <p>Wir haben deine Anmeldung erhalten und überprüfen diese jetzt.</p>
    <p>Sobald wir fertig sind, <strong>melden wir uns per Mail</strong></p>
  </div>
  <div *ngIf="error" class="alert alert-danger text-center">
    {{ error | json }}
  </div>

  <form #studentForm [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col">
        <label for="first-name">Vorname</label>
        <input
          type="text"
          class="form-control"
          name="first-name"
          formControlName="firstName"
        />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">
            Du musst einen Vornamen angeben
          </div>
        </div>
      </div>
      <div class="from-group col">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          class="form-control"
          formControlName="email"
        />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">
            Du musst eine email angeben
          </div>
          <div *ngIf="f.email.errors.email">
            Diese Email ist invalide
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="password">Passwort</label>
        <input
          type="password"
          name="password"
          class="form-control"
          formControlName="password"
        />
        <div
          *ngIf="submitted && registerForm.errors?.passwordNotMatch"
          class="invalid-feedback"
        >
          Die beiden Passwörter müssen überein stimmen.
        </div>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">
            Du musst ein Passwort angeben
          </div>
          <div *ngIf="f.password.errors.minlength">
            Dein Passwort muss mindestens
            {{ f.password.errors.minlength.requiredLength }} Zeichen lang
          </div>
        </div>
      </div>

      <div class="form-group col">
        <label for="password-repeat">Passwort wiederholen</label>
        <input
          type="password"
          name="password-repeat"
          class="form-control"
          formControlName="passwordRepeat"
        />
        <div
          *ngIf="submitted && registerForm.errors?.passwordNotMatch"
          class="invalid-feedback"
        >
          Die beiden Passwörter müssen überein stimmen.
        </div>
        <div
          *ngIf="submitted && f.passwordRepeat.errors"
          class="invalid-feedback"
        >
          <div *ngIf="f.passwordRepeat.errors.required">
            Du musst ein Passwort angeben
          </div>
          <div *ngIf="f.passwordRepeat.errors.minlength">
            Dein Passwort muss mindestens
            {{ f.passwordRepeat.errors.minlength.requiredLength }} Zeichen lang
            sein.
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="from-group col">
        <label for="state">Bundesland</label>
        <select name="state" class="form-control" formControlName="state">
          <option *ngFor="let state of states" [ngValue]="state">
            {{ state.name }}
          </option>
        </select>
        <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
          <div *ngIf="f.state.errors.required">
            Du musst einen Bundesland ngeben
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="from-group col">
        <label for="school-type">Schultyp</label>
        <select
          name="school-type"
          class="form-control"
          formControlName="schoolType"
        >
          <option *ngFor="let schoolType of schoolTypes" [ngValue]="schoolType">
            {{ schoolType.name }}
          </option>
        </select>
        <div *ngIf="submitted && f.schoolType.errors" class="invalid-feedback">
          <div *ngIf="f.schoolType.errors.required">
            Du musst einen Schultyp angeben
          </div>
        </div>
      </div>

      <div class="from-group col">
        <label for="class">Klassenstufe</label>
        <ng5-slider [options]="options" formControlName="slider"></ng5-slider>
      </div>
    </div>

    <div class="form-group form-row form-check-inline">
      <input type="checkbox" formControlName="terms" class="form-check-input" />
      <label for="terms" class="form-check-label"
        >Ja, ich habe die <a routerLink="/account/terms">AGB</a> gelesen</label
      >
      <div *ngIf="submitted && f.terms.errors" class="invalid-feedback">
        <div *ngIf="f.terms.errors.required">
          Du musst die AGB akzeptieren
        </div>
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="submitSuccess || loading"
    >
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      Absenden</button
    >{{ registerForm.status }}
  </form>
</div>
