<div class="row">
  <div class="col-sm-6">
    <div class="my-5 mx-5">
      <img
        src="assets/img/team/group_picture.jpg"
        alt="team image"
        class="img-fluid"
      />
    </div>
  </div>
  <div class="col-sm-6 align-self-center">
    <a routerLink="/about"><h4 class="text-primary">Das Team</h4></a>
    <p class="lead">
      Das Team hinter naklar.io – engagiert und motiviert, Schüler in
      dieser Zeit mit der richtigen Unterstützung unter die Arme zu greifen.
    </p>
  </div>
</div>
