<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-primary">Passwort zurücksetzen</h2>
      <p>
        Fast geschafft. Gib nun ein neues Passwort an, dass du in Zukunft zum
        Anmelden verwenden willst.
      </p>
      <div *ngIf="submitSuccess" class="alert alert-success text-center">
        Dein Passwort wurde erfolgreich geändert
      </div>
      <div *ngIf="error" class="alert alert-danger text-center">
        {{ error | json }}
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-label-group">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Passwort"
            class="form-control"
            formControlName="password"
            required
          />
          <label for="password">Passwort</label>
          <div class="invalid-feedback">
            <div *ngIf="form.errors?.passwordNotMatch">
              Die beiden Passwörter müssen übereinstimmen.
            </div>
            <div *ngIf="f.password.errors?.required">
              Bitte gib ein Passwort ein
            </div>
            <div *ngIf="f.password.errors?.minlength">
              Das Passwort muss mindestens 8 Zeichen lang sein
            </div>
          </div>
        </div>
        <div class="form-label-group">
          <input
            type="password"
            name="passwordRepeat"
            id="passwordRepeat"
            placeholder="Passwort wiederholen"
            class="form-control"
            formControlName="passwordRepeat"
            required
          />
          <label for="passwordRepeat">Passwort wiederholen</label>
          <div class="invalid-feedback">
            <div *ngIf="form.errors?.passwordNotMatch">
              Die beiden Passwörter müssen übereinstimmen.
            </div>
          </div>
        </div>
        <button
          class="btn nabtn-primary"
          type="submit"
          [disabled]="submitSuccess || loading"
        >
          Abschicken
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
        </button>
      </form>
    </div>
  </div>
</div>
