
$primary: #f39200;
$enable-gradients: false;
//$default-font: "Roboto", Verdana, Arial, sans-serif;
$font-family-sans-serif: "Source Sans Pro";

//$primary: red;
// $font-weight-light:           400;
$font-weight-normal:          400;
$font-weight-bold:            700;
$headings-font-weight:        700;