<h1>
  Uups, du hast uns erwischt!
</h1>
<p>
  Diese Seite existiert noch nicht. Bis dahin kannst du aber weitherin zu
  unseren Seiten kommen:
</p>

<ul class="list-unstyled links">
  <li><a routerLink="/" class="text-muted">Home</a></li>
  <li><a routerLink="/parents" class="text-muted">Eltern</a></li>
  <li><a routerLink="/students" class="text-muted">Schüler</a></li>
  <li><a routerLink="/tutors" class="text-muted">Tutoren</a></li>
  <li><a routerLink="/schools" class="text-muted">Lehrer & Schulen</a></li>
</ul>
