<div class="card" style="width: 80pc">
  <h2>Schutz deiner Daten</h2>
  <p>
    Wir verwenden Cookies, um Inhalte zu personalisieren, unsere Plattform zu
    verbessern und die Sicherheit unserer Nutzer zu gewährleisten. Indem du
    diese Website nutzt, stimmst du dem Einsatz von Cookies zur Erfassung von
    Informationen auf naklar.io und anderen Websites zu. Lies dir unsere
    <a target="_self" href="">Cookie-Richtlinie</a>
    durch, um mehr zu erfahren, oder rufe die Cookie-Einstellungen auf, um deine
    Einstellungen zu verwalten.
  </p>
  <div>
    <a
      class="btn btn-lg btn-outline-primary"
      style="border-radius: 17px"
      [href]=""
      target="_self"
      >Cookie-Einstellungen</a
    >
    <a
      class="btn btn-lg btn-primary"
      style="border-radius: 17px"
      [href]=""
      target="_self"
      >OK</a
    >
  </div>
</div>
