<div *ngIf="featureEnabled && isVisible | async" [@popIn]="isVisible" class="mymodal">
  <div *ngIf="!isSettings" class="card">
    <div class="row">
      <h4 class="col-12">
        Schutz deiner Daten <fa-icon icon="lock" class="text-primary"></fa-icon>
      </h4>
      <p class="col-12">
        Wir verwenden Cookies, um Inhalte zu personalisieren, unsere Plattform
        zu verbessern und die Sicherheit unserer Nutzer zu gewährleisten. Indem
        du diese Website nutzt, stimmst du dem Einsatz von Cookies zur Erfassung
        von Informationen auf naklar.io und anderen Websites zu. Lies dir unsere
        <a routerLink="/privacy">Cookie-Richtlinie</a>
        durch, um mehr zu erfahren.
      </p>
    </div>
    <div class="row justify-content-md-left">
      <div class="col-md-auto">
        <p>
          <input type="checkbox" checked disabled />
          Notwendig
        </p>
      </div>
      <div class="col-md-auto">
        <p>
          <input
            type="checkbox"
            id="checkbox_analytics"
            [(ngModel)]="currentSettings.googleAnalytics"
          />
         Analyse
        </p>
      </div>
      <div class="col-md-auto">
        <p>
          <input
            type="checkbox"
            id="checkbox_comfort"
            [(ngModel)]="currentSettings.comfort"
          />
          Komfort
        </p>
      </div>
    </div>
    <div class="btns">
      <button
        class="btn btn-lg btn-outline-primary negative-btn"
        style="border-radius: 17px"
        (click)="displaySettings(true)"
      >
        Details
      </button>
      <button
        class="btn btn-lg btn-outline-primary negative-btn"
        style="border-radius: 17px"
        (click)="saveSettings()"
      >
        Auswahl erlauben
      </button>
      <button
        class="btn btn-lg btn-primary positive-btn"
        style="border-radius: 17px"
        (click)="allowAllAnalytics()"
      >
        Alles erlauben
      </button>
    </div>
  </div>
  <div *ngIf="isSettings" class="card">
    <div class="container">
      <div>
        <h4>
          Schutz deiner Daten
          <fa-icon icon="lock" class="text-primary"></fa-icon>
        </h4>
      </div>
      <div class="row">
        <div class="col">
          <p>
            <input type="checkbox" checked disabled />
            Notwendig <br />
            Diese Cookies sind für den Betrieb der Seite unbedingt notwendig und
            ermöglichen insbesondere sicherheitsrelevante Funktionen. Für
            notwendige Cookies benötigen wir keine Einwilligung, sondern stützen
            uns auf unsere berechtigten Interessen, die Sicherheit und
            Funktionsfähigkeit unserer Seite zu gewährleisten. Daher ist das
            entsprechende Feld vorangekreuzt.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>
            <input
              type="checkbox"
              id="checkbox_analytics"
              [(ngModel)]="currentSettings.googleAnalytics"
            />
            Analyse <br />
            Um unser Angebot und unsere Webseite weiter zu verbessern, erfassen
            wir Daten für Statistiken und Analysen. Mithilfe dieser Cookies
            können wir beispielsweise die Besucherzahlen und den Wirkungsgrad
            bestimmter Seiten unseres Web-Auftritts ermitteln und unsere Inhalte
            optimieren. Dafür benötigen wir Ihre Einwilligung.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>
            <input
              type="checkbox"
              id="checkbox_comfort"
              [(ngModel)]="currentSettings.comfort"
            />
            Komfort <br />
            Wir nutzen diese Cookies, um Ihnen die Bedienung der Seite zu
            erleichtern. So können Sie beispielsweise mit Ihrem Profil
            eingeloggt bleiben, um unsere Dienste bei einem erneuten Besuch
            unserer Seite schneller nutzen zu können.
          </p>
        </div>
      </div>
      <div class="btns">
        <button
          class="btn btn-lg btn-outline-primary negative-btn"
          style="border-radius: 17px"
          (click)="displaySettings(false)"
        >
          Zurück
        </button>
        <button
          class="btn btn-lg btn-outline-primary negative-btn"
          style="border-radius: 17px"
          (click)="saveSettings()"
        >
          Auswahl erlauben
        </button>
        <button
          class="btn btn-lg btn-primary positive-btn"
          style="border-radius: 17px"
          (click)="allowAllAnalytics()"
        >
          Alles erlauben
        </button>
      </div>
    </div>
  </div>
</div>
