<div class="row justify-content-center pb-5">
  <div class="col-9 text-center">
    <h3 class="my-3">naklar.io kurz erklärt!</h3>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe
        src="https://www.youtube.com/embed/nCtjwHyj0OU"
        srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/nCtjwHyj0OU?autoplay=1><img src=assets/img/video_thumbnail.png alt='NAKLAR.io | Die Plattform für Schüler | #WirVsVirusHack'><span><!--▶--></span></a>"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        title="NAKLAR.io | Die Plattform für Schüler | #WirVsVirusHack"
        class="embed-responsive-item"
      ></iframe>
    </div>
  </div>
</div>
