<p>
  Liebe/r {{ user.first_name }},
</p>

<p>
  vielen Dank für Deine Registrierung bei naklar.io. Wir haben Dein Profil
  geprüft und Dich freigeschalten. Jetzt kannst du Schülern flexibel und einfach
  bei Schulfragen helfen.
</p>

<p>
  Diesen Donnerstag und Freitag läuft die Beta-Phase, sprich es kann sein, dass
  das ein oder andere Feature noch nicht komplett rund läuft. Weitere Funktionen
  werden im Laufe der nächsten Tage erst hinzugefügt. Wenn Dir etwas auffällt,
  oder Du Ideen bzw. Vorschläge hast, schreib uns gerne.
</p>

<p>
  Damit die Plattform in der Testphase gebündelt genutzt wird und möglichst
  geringe Wartezeiten entstehen, haben wir <strong>folgende Zeitslots zur Beantwortung
  der Schülerfragen</strong> festgelegt:
</p>

<h3 style="text-align: center;">
  Donnerstag 14 - 17h (16. April) | Freitag 10 - 13h (17. April)
</h3>

<p>
  Viele Informationen… jetzt gehts aber los! <strong>Melde dich einfach zu den
  beschriebenen Zeiten auf <a href="{{ login_url }}">naklar.io</a> an und helfe Schülern!</strong> In Deinem
  Login-Bereich findest du zusätzlich noch eine kurze Anleitung. Bei Fragen
  kannst Du uns jederzeit kontaktieren.
</p>

<p>
  Die Schüler freuen sich schon auf Dich. Viel Spaß!
</p>

<footer>
  Liebe Grüße <br>
  Dein naklar.io-Team
  <br /><br />
  <strong>PS: Gerne kannst du naklar.io auch Freunden / Schülern / Eltern /Bekannten
  empfehlen, die ebenfalls naklar.io nutzen möchten!</strong>
  <br />
  <hr />
  naklar.io<br />E-Mail info@naklario.de <br />Internet www.naklar.io
</footer>
