<p>
  Liebe/r {{ user.first_name }},
</p>

<p>
  vielen Dank für Deine Registrierung bei naklar.io. Wir haben Dein Profil
  geprüft und Dich freigeschalten. Jetzt kannst du Schülern flexibel und einfach
  bei Schulfragen helfen.
</p>

<p>
  Damit die Plattform möglichst effizient genutzt werden kann und kürzere
  Wartezeiten entstehen, empfehlen wir naklar.io verstärkt zu folgenden Zeiten
  zu nutzen:
</p>

<h3 style="text-align: center;">Zwischen 10-12 Uhr und 15-17 Uhr</h3>

<p>
  Melde Dich einfach zu den beschriebenen Zeiten auf naklar.io an und helfe
  Schülern! In Deinem Login-Bereich findest du zusätzlich noch eine kurze
  Anleitung.
</p>
<p>
  Bei Fragen kannst Du uns jederzeit kontaktieren.
</p>
<p>
  Die Schüler freuen sich schon auf Dich. Vielen Dank für Dein Engagement und
  viel Spaß!
</p>

<footer>
  Liebe Grüße <br />
  Dein naklar.io-Team
  <br /><br />
  <strong
    >PS: naklar.io lebt von der Größe der Community! Erzähle Deinen Freunden /
    Schülern / Eltern /Bekannten daher bitte unbedingt von der Initiative.
    Danke!
  </strong>
</footer>
