<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termin zugesagt von {{ confirming_party.first_name }} - {{ appointment.subject.name }}</title>
</head>
<body>
<p>Hi {{ other_party.first_name }},</p>
<p>{{ confirming_party.first_name }} hat folgenden Termin zugesagt!</p>
<p>{{ appointment.subject }}: Von {{ appointment.start_time }} - {{ appointment.end_time|time }}</p>
{% if appointment.topic %}
    <span>Thema: {{ appointment.topic }}</span>
{% endif %}

<p>
    Viele Grüße<br>
    Dein Team von naklar.io
</p>

</body>
</html>