<div class="container">
  <h1 class="primary-color">Informationen für Lehrkräfte und Schulen</h1>
  <p>
    Liebe Lehrkräfte, liebe Schulleitungen,
    <br />
    es freut uns sehr Sie hier auf unserer Seite des naklar.io Projektes zu
    sehen. Mit naklar.io wollen wir Schülern in dieser Zeit unter die Arme
    greifen und als Coach zur Seite stehen. So können wir unter Anderem auch
    Schulkinder unterstützen, für die eine schulische Betreuung der Eltern nicht
    in dem gewünschten Maße möglich ist. Aufgrund der ehrenamtlichen Arbeit der
    Tutoren wollen wir so das Thema Bildungsgerechtigkeit verstärkt
    forcieren.
  </p>

  <p>
    Uns ist Bewusst, dass viele sehr engagierte Lehrkräfte mit erhöhtem Einsatz
    für die Schüler da sind. Mit naklar.io wollen wir die Schule in Ihrem
    Lehrauftrag unterstützen, in dem wir Schüler per Knopfdruck Zugang zu
    ehrenamtlichen Tutoren bieten.
  </p>

  <p>
    Wir möchten an dieser Stelle klar betonen, dass unser Angebot auf naklar.io
    kein Ersatz für den Unterricht darstellen kann oder soll. Wir wollen hier
    bewusst zusätzliche Ressourcen mobilisieren, die eine schulergänzende
    Unterstützung anbieten sollen.
  </p>

  <p>
    Es würde uns sehr freuen, wenn auch Sie unser Konzept unterstützen. Teilen
    Sie die Plattform gerne mit Ihren Schülern, Kollegen oder
    Bekannten. Auch über Anregungen oder Kritik freuen wir uns, denn auch
    naklar.io soll sich kontinuierlich weiter entwickeln.
  </p>

  <p>
    Sollten Sie als Schule eine Partnerschaft wünschen, melden Sie sich auch
    gerne jederzeit. Wir können sicherlich eine individuelle Lösung anbieten, um
    Ihren Schülern bestmöglich unter die Arme zu greifen.
  </p>

  <p>
    Melden Sie sich gerne unter
    <a href="mailto:info@naklar.io">info@naklar.io</a> - unser Team meldet sich
    dann umgehend bei Ihnen zurück.
  </p>

  <p>
    Viele Grüße
    <br />
    Ihr Team von naklar.io
  </p>
</div>
