<hr />
<div class="spacer"></div>
<div class="container my-5">
  <div class="row">
    <div class="col-12 col-md">
      <a routerLink="/">
        <img
          src="assets/img/Logo.png"
          alt="naklar.io logo"
          class="img-fluid"
          style="width: 150px;"
        />
      </a>
    </div>
    <div class="col-6 col-md">
      <h5>Unsere Nutzer</h5>
      <ul class="list-unstyled text-small">
        <li><a routerLink="/tutors" class="text-muted">Tutoren</a></li>
        <li><a routerLink="/students" class="text-muted">Schüler</a></li>
        <li><a routerLink="/parents" class="text-muted">Eltern</a></li>
        <li><a routerLink="/schools" class="text-muted">Lehrer & Schulen</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Ressourcen</h5>
      <ul class="list-unstyled text-small">
        <li><a routerLink="/support" class="text-muted">Hilfe & Support</a></li>
        <li><a routerLink="/feedback" class="text-muted">Feedback</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Unternehmen</h5>
      <ul class="list-unstyled text-small">
        <li><a routerLink="imprint" class="text-muted">Impressum</a></li>
        <li><a routerLink="terms" class="text-muted">AGB</a></li>
        <li><a routerLink="privacy" class="text-muted">Datenschutz</a></li>
        <li><a routerLink="about" class="text-muted">Über uns</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Mehr</h5>
      <ul class="list-unstyled text-small">
        <li><a routerLink="partner" class="text-muted">Partner</a></li>
        <li><a routerLink="press" class="text-muted">Presse</a></li>
      </ul>
    </div>
  </div>
</div>
