<div class="container">
  <h2>Presse</h2>
  <p>Unter <a
    target="_blank"
    href="https://drive.google.com/drive/folders/1LhgxtLQas9Oci_DAb3CQdZo1w-WZMViA?usp=sharing"
  >diesem Link</a> gelangen Sie zu unserem Media Kit.</p>

  <p>Bei Fragen oder Anregungen melden Sie sich gerne bei unserem Ansprechpartner für Presseanfragen.</p>

  <h5>Ansprechpartner:</h5>

  <p>
    Sonja Wunderlich
    <br>
    <a target="_blank" href="mailto:presse@naklar.io">presse@naklar.io</a>
  </p>

  <div class="mt-4"><h4>Unsere Social Media Kanäle:</h4></div>
  <div class="mt-3">
    <app-social-icons></app-social-icons>
  </div>
</div>
