<div class="card">
  <div class="card-header">
    <div class="text-right">
      <button type="button" class="btn btn-danger" (click)="delete()">Löschen</button>
    </div>
  </div>
  <ng-form [formGroup]="rangeForm">
    <div class="card-body">
      <div class="row">
        <div class="form-group col-sm-12 col-md-6">
          <label for="startTime">Startzeit</label>
          <input
            type="time"
            id="startTime"
            formControlName="startTime"
            class="form-control"
          />
        </div>
        <div class="form-group col-sm-12 col-md-6">
          <label for="endTime">Endzeit</label>
          <input
            type="time"
            id="endTime"
            formControlName="endTime"
            class="form-control"
          />
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <mat-form-field>
            <mat-label>Wochentage</mat-label>
            <mat-select formControlName="days" multiple>
              <mat-option *ngFor="let day of days" [value]="day.value">{{day.label}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </ng-form>
</div>
