<div class="container">
  <h1 class="primary-color">Informationen für Eltern</h1>
  <p>
    Liebe Eltern,<br />
    unser Ziel mit naklar.io ist es, Ihren Kindern bei Fragen zum Schulstoff per
    Knopfdruck einen passenden und hilfsbereiten Tutor zur Verfügung zu stellen.
    Unser Matching sorgt dafür, dass Ihr Kind mit dem passendsten Tutor (nach
    Fach, Klasse, Schultyp und Bundesland) verknüpft wird.
  </p>
  <p>
    Die aktuelle “Home-Schooling”-Situation macht vielen Beteiligten zu
    schaffen. Mit naklar.io wollen wir Sie als Eltern unterstützen und
    Schülerinnen und Schülern Antworten auf ihr Fragen geben. Das entlastet Sie
    in dieser stressigen Zeit und hilft den jungen Erwachsenen den Schulstoff
    besser zu verstehen und zu erarbeiten.
  </p>
  <p>
    Sicherheit und Vertrauen ist uns wichtig. Aus diesem Grund wird die
    Identität der Tutoren von uns vor der Freischaltung geprüft. Zusätzlich
    werden unsere Tutoren mit Hilfe eines Bewertungssystem kontrolliert. Vor
    allem am Anfang ist es jedoch wichtig, dass Sie Ihr Kind bei der Nutzung von
    naklar.io Begleiten und eine richtige Nutzung aufzeigen.
  </p>

  <p>
    Sie finden es auch Klasse, dass sich hier so viele Tutoren ehrenamtlich
    engagieren? Bitte teilen Sie unsere Seite mit Freunden, Bekannten,
    Lehrkräften und anderen Netzwerken. Jeder Schüler, dem wir mit diesem
    Projekt helfen können ist ein Gewinn für unsere Gemeinschaft.
  </p>

  <p>
    Sie haben Feedback oder Fragen? Schreiben Sie uns gerne unter
    <a href="mailto:info@naklar.io">info@naklar.io</a> und unser Team kümmert
    sich um eine zeitnahe Rückmeldung.
  </p>

  <p>
    Viele Grüße
    <br />
    Ihr naklar.io Team
  </p>
</div>
