<p class="lead">
  Diese Seite befindet sich leider noch im Aufbau.
</p>

<p>
  Hallo! Vielen Dank für Dein Interesse an naklar.io und unserer Mission über 11
  Millionen Schülern in dieser herausfordernden Zeit unter die Arme zu greifen!
</p>

<p>
  Mit naklar.io wollen wir eine Plattform schaffen, die allen Schülern
  einen einfachen und flexiblen Zugang zu ehrenamtlichen Tutoren ermöglicht.
  Besonders die jetzige Zeit stellt Schülern bei dem Erlernen des aktuellen
  Stoffes vor eine erhöhte Herausforderung. Umso wichtiger ist es uns und allen
  Tutoren nun zeitnah eine passende Lösung anzubieten. Einige Inhalte sind daher
  noch nicht vollständig auf der Webseite einzusehen.
</p>
<p>
  Du hast Fragen, Anregungen, möchtest dich engagieren oder möchtest einfach nur
  Danke sagen? Schreib uns gerne eine Mail an
  <a href="mailto:info@naklar.io">info@naklar.io</a> - wir freuen uns über jede
  Nachricht :)
</p>

<div class="my-5">
  <p>Hier kommst du wieder zurück:</p>
  <div class="row justify-content-center align-center">
    <a class="col-sm" routerLink="/">Home</a>
    <a class="col-sm" routerLink="/parents">Eltern</a>
    <a class="col-sm" routerLink="/students">Schüler</a>
    <a class="col-sm" routerLink="/tutors">Tutoren</a>
    <a class="col-sm" routerLink="/schools">Lehrer & Schulen</a>
  </div>
</div>
