
<div *ngIf="loaderType === 'glowing-circle'" >
  <div class="glowing-circle-loader">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<div *ngIf="loaderType === 'rainbow-circle'">
  <div class="rainbow-loader">
    <div class="rainbow-loader-inner">
      <div class="rainbow-loader-line-wrap">
        <div class="rainbow-loader-line"></div>
      </div>
      <div class="rainbow-loader-line-wrap">
        <div class="rainbow-loader-line"></div>
      </div>
      <div class="rainbow-loader-line-wrap">
        <div class="rainbow-loader-line"></div>
      </div>
      <div class="rainbow-loader-line-wrap">
        <div class="rainbow-loader-line"></div>
      </div>
      <div class="rainbow-loader-line-wrap">
        <div class="rainbow-loader-line"></div>
      </div>
    </div>
  </div>
</div>
