.img-preview {
  background-position: center center;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
//  display: inline-block;
  border-radius: 50%;
  max-height: 100px;
  // box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
}
.file-input {
  width: 0px;
  height: 0px;
  overflow: hidden;
}