<div class="image-upload-container text-center align-items-center">
  <div class="row justify-content-center">
    <img
      [src]="img_file"
      alt="user profile picture"
      class="img-fluid img-preview"
    />
  </div>
  <div class="row justify-content-center">
    <label class="btn btn-primary align-bottom">
      Bild auswählen
      <input
        #imageInput
        class="file-input"
        value="Bild Hochladen"
        type="file"
        accept="image/*"
        (change)="processImg($event)"
      />
    </label>
  </div>
</div>
