.user-card {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.22);
  max-width: 300px;
  padding-top: 1em;
  padding-bottom: 1em;
}

.profile-img {
  border-radius: 50%;
  padding: 5px;
}
.profile-img img {
  width: auto;
  height: 100px;
  border-radius: 50%;
  border: 5px solid white;

  // TODO: better centering
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-usertitle {
  text-align: center;
}

.profile-usertitle-name {
  text-transform: uppercase;
}
