<div class="container user-card">
  <div class="col-md justify-content-center">
    <div class="profile-img">
      <img [src]="img" alt="tutor profile picture" class="img-fluid" />
    </div>

    <div class="profile-usertitle my-3">
      <div class="profile-usertitle-name">
        {{ user.first_name }} {{ user.last_name }}
      </div>
      <div class="profile-usertitle-state">
        {{ user.state.name }} ({{ user.state.shortcode }})
      </div>
    </div>

    <hr />

    <div *ngIf="type === 'tutor'">
      Experte für:
      <br />
      <span *ngFor="let subject of user.tutordata.subjects">
        {{ subject.name }}</span
      >
    </div>
    <div *ngIf="type === 'student'">
      Hat eine Frage in:
      <br />
      {{user.studentdata.school_data}}
    </div>
  </div>
</div>
