<div class="container">
  <h4 class="text-primary">Dein Profil</h4>
  <div *ngIf="!user.emailVerified" class="alert alert-danger text-center">
    Deine E-Mail wurde noch nicht bestätigt! Bitte tue dies, damit du deinen
    Account voll nutzen kannst.
    <br />
    <div *ngIf="!verifyResent">
      Link nicht erhalten?
      <button (click)="resendLink()" class="btn btn-danger">
        Erneut senden
      </button>
    </div>
    <div *ngIf="verifyResent" class="text-success" #sent>
      <strong>Der Link wurde erfolgreich erneut versendet</strong>
    </div>
  </div>
  <account-student-form
    *ngIf="user.studentdata != null"
    [register]="false"
  ></account-student-form>
  <account-tutor-form
    *ngIf="user.tutordata !== null"
    [register]="false"
  ></account-tutor-form>
</div>

<hr />
<div class="container">
  <h4>Sicherheit</h4>
  <p>
    Wenn du das Gefühl hast, dass sich jemand anderes in deinen Account
    eingeloggt hat, und du sicherstellen möchtest dass nur du angemeldet bist,
    benutze diesen Knopf.
  </p>
  <p>
    Danach musst du dich auf allen Geräten erneut einloggen. <br />
    Außerdem empfehlen wir dir, dein <strong>Passwort zu ändern</strong>.
  </p>

  <button class="btn btn-danger" (click)="logoutAll()">
    Alle Geräte ausloggen
  </button>
</div>
<hr />
<div class="container">
  <h4>Account löschen</h4>
  <p>
    Hiermit löscht du deinen Account dauerhaft! Damit gehen alle verbundenen
    Daten verloren und du kannst die Plattform nicht mehr verwenden.
  </p>
  <button class="btn btn-danger" (click)="deleteAccount()">
    Account löschen
  </button>
</div>
