<div class="container">
  <p class="c18"><span class="c9">NAKLAR.IO AGB - Stand 10.04.2020</span></p>
  <p class="c0 c2"><span class="c3"></span></p>
  <p class="c0"><span class="c3">1. Vorbemerkung </span></p>
  <p class="c0 c2"><span class="c13"></span></p>
  <p class="c0">
    <span class="c1"
      >Die goodgrade GmbH &amp; Co. KG, Mühlfeldstraße 21, 82152 Planegg
      („goodgrade“) betreibt unter der Adresse www.naklar.io (“naklar.io”) eine
      Internetplattform („Plattform“), auf der Nutzer, das heißt, Schüler
      („Schüler“) und Tutoren (“Tutoren”), miteinander kommunizieren
      können.</span
    >
  </p>
  <p class="c0 c2"><span class="c3"></span></p>
  <p class="c0"><span class="c3">2. Registrierung </span></p>
  <p class="c0 c2"><span class="c3"></span></p>
  <p class="c0">
    <span class="c1"
      >Um die Plattform naklar.io zu nutzen ist eine vorherige Registrierung
      notwendig.
    </span>
  </p>
  <p class="c0 c2"><span class="c3"></span></p>
  <p class="c0"><span class="c1">2.1 Registrierung als Tutor</span></p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0">
    <span class="c1"
      >Um als Tutor auf naklar.io tätig zu werden, ist eine Registrierung nötig.
      Dies umfasst persönliche Daten und zusätzliche hochzuladende Dokumente,
      sodass naklar.io die Angaben der Tutoren bestmöglichst auf Echtheit
      überprüfen kann, um somit den Schutz der Schüler zu gewährleisten. Im
      Anschluss an die Registrierung und der nachgelagerte Freischaltung des
      jeweiligen Tutors, kann der Tutor seine Hilfestellungen über die naklar.io
      Plattform zur Verfügung stellen. naklar.io behält es sich vor registrierte
      Tutoren nach eigener Einschätzung nicht freizuschalten, um den Schutz der
      Schüler zu gewährleisten.
    </span>
  </p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0"><span class="c1">2.2 Registrierung als Schüler</span></p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0">
    <span class="c5">Um als Schüler auf Tutoren von naklar.io </span
    ><span class="c5">z</span
    ><span class="c5"
      >ugreifen zu können, ist eine Registrierung notwendig. Dies umfasst
      persönliche Daten, sodass naklar.io ein möglichst genaues</span
    ><span class="c5"
      >&nbsp;Matching mit einem passenden Tutor durchführen kann</span
    ><span class="c5"
      >. Hierbei beabsichtigt naklar.io ein Mindestmaß an Daten zu erfassen, um
      ein funktionierendes Matching zu ermöglichen und gleichzeitig einen
      maximalen Schutz von Minderjährigen zu gewährleisten. Schüler können
      außerdem als Tutor auf der Plattform aktiv werden. In diesem Fall gelten
      zudem die B</span
    ><span class="c5">estimmungen</span
    ><span class="c1">&nbsp;für Tutoren. </span>
  </p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0"><span class="c1">2.3 Weitere Pflichten als Nutzer</span></p>
  <p class="c0 c2"><span class="c3"></span></p>
  <p class="c0">
    <span class="c1"
      >Mit dem Passwort legt der Nutzer (Tutor oder Schüler) seinen Schlüssel
      zum Login mit der dazugehörigen E-Mail fest. Hierbei gelten bestimmte
      Pflichten:</span
    >
  </p>
  <ul class="c12 lst-kix_g676vqlfaw4-0 start">
    <li class="c0 c10">
      <span class="c5"
        >Die Geheimhaltung des Passwortes liegt in der Verantwortung des
        Nutzers. Er verantwortet zudem sämtliche Aktivitäten, die unter seinem
        Login-Account und Nutzerprofil erfolgen.Dieses Passwort darf an keine
        weitere Person weitergegeben werden. Weder naklar.io, noch
        Administartoren von naklar.io werden eine N</span
      ><span class="c5">ennung</span
      ><span class="c1"
        >&nbsp;des Passwortes verlangen. Eine Herausgabe des Passwortes an
        Andere ist daher nicht gestattet.</span
      >
    </li>
    <li class="c0 c10">
      <span class="c1"
        >Mit der Festlegung des Passwortes, sollte darauf geachtet werden, dass
        dieses nicht leicht zu erraten ist.
      </span>
    </li>
    <li class="c0 c10">
      <span class="c5"
        >Sollte jemand unbefugtes den Account des Nutzers nutzen, ist naklar.io
        unverzüglich darüber in Kenntnis zu setzen.</span
      >
    </li>
  </ul>
  <p class="c0 c2"><span class="c3"></span></p>
  <p class="c0"><span class="c3">3. Minderjährige</span></p>
  <p class="c0 c2"><span class="c3"></span></p>
  <p class="c0"><span class="c1">3.1 </span></p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0">
    <span class="c5">Die naklar.io Dienste können von </span
    ><span class="c5">Minderjährigen</span
    ><span class="c1"
      >&nbsp;genutzt werden, soweit diese die notwendige Einsichtsfähigkeit
      besitzen die Nutzungsbedingungen zu verstehen und zu befolgen und zudem
      die Nutzung im Einvernehmen mit einem Erziehungsberechtigten
      geschieht.</span
    >
  </p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0"><span class="c1">3.2 </span></p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0">
    <span class="c5"
      >Sofern die Erziehungsberechtigten den Kindern die Nutzung von naklar.io
      zulassen, akzeptieren sie die Verantwortung für das Verhalten des
      Minderjährigen online, die möglichen Konsequenzen bei einem Missbrauch der
      Dienste von naklar.io, sowie die allgemeinen Nutzungsbedinugngen der
      naklar.io Plattform. Zudem sind sich die Erziehungsberechtigten bewusst,
      dass naklar,io aufgrund der Eigenverantwortlichkeit der Tutoren keinen
      Einfluss auf den Inhalt der entstehenden Kommunikation über unsere
      Plattform haben kann. Daher ist eine eigenverantwortliche Aufsicht des
      entsprechenden Erziehungsberechtigten über die Nutzung der Plattform des
      Schülers notwendig.
    </span>
  </p>
  <p class="c0 c2"><span class="c3"></span></p>
  <p class="c0">
    <span class="c3">5. Privatsphäre der Nutzer von naklar.io </span>
  </p>
  <p class="c0 c2"><span class="c3"></span></p>
  <p class="c0"><span class="c1">5.1 </span></p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0">
    <span class="c1"
      >naklar.io respektiert die Privatsphäre der Nutzer, also Schüler und
      Tutoren. Ohne vorherige Erlaubnis werden keine persönliche Daten an Dritte
      weitergegeben.
    </span>
  </p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0">
    <span class="c5">naklar.io ist befugt die Daten weiterzugeben </span
    ><span class="c5">oder</span
    ><span class="c1"
      >&nbsp;zu verwerten, wenn dies nach begründeter Annahme von naklar.io
      erforderlich ist:</span
    >
  </p>
  <p class="c0 c2"><span class="c1"></span></p>
  <ul class="c12 lst-kix_mvxb7ku7fvh5-0 start">
    <li class="c0 c10">
      <span class="c1"
        >zum rechtlichen Schutz der weiteren Nutzer der Plattform</span
      >
    </li>
    <li class="c0 c10">
      <span class="c1"
        >zur Verteidigung oder zum rechtlichen Schutz von naklar.io</span
      >
    </li>
    <li class="c0 c10">
      <span class="c1"
        >zur Behebung von technischen Probleme, der Wartung oder der Erweiterung
        der naklar.io Dienste und Angebote
      </span>
    </li>
    <li class="c0 c10">
      <span class="c1">zur Erfüllung der gesetzlichen Anforderungen</span>
    </li>
  </ul>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0"><span class="c1">5.2</span></p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0">
    <span class="c1"
      >Um minderjährige Nutzer vor Menschen mit pädophilen Neigungen, sowie zur
      Optimierung technischer Abläufe und verbesserter Kontrolle von Fehlern,
      dürfen Inhaltsdaten zeitlich beschränkt gespeichert werden.</span
    >
  </p>
  <p class="c14 c0"><span class="c1">5.3</span></p>
  <p class="c14 c0">
    <span class="c1"
      >Sollte zu einem späteren Zeitpunkt die Betreibung der Plattform eine
      Platzierung von Werbung benötigen, können anonyme Statistiken über
      Nutzerdaten erstellt und ausgewertet werden.</span
    >
  </p>
  <p class="c14 c0"><span class="c1">5.4 </span></p>
  <p class="c14 c0">
    <span class="c1"
      >Zum zusätzlichen Schutz von Schülern und Tutoren vor Missbrauch, sowie
      zum Schutz vor strafbaren Handlungen, werden beim Login IP-Adressen der
      Nutzer gespeichert.
    </span>
  </p>
  <p class="c0 c14"><span class="c1">5.5 </span></p>
  <p class="c14 c0">
    <span class="c5"
      >Unter Einklang der rechtlichen Regelungen des Bundesdatenschutzgesetzes
      verfährt naklar.io mit den Nutzerdaten. Der Nutzer kann per Mail an </span
    ><span class="c11"
      ><a class="c15" href="mailto:info@naklar.io">info@naklar.io</a></span
    ><span class="c1"
      >&nbsp;verlangen, dass seine Daten nicht weiter zu verwenden oder sogar zu
      löschen sind.
    </span>
  </p>
  <p class="c0"><span class="c3">6. naklar.io Verhaltensregeln </span></p>
  <p class="c0 c2"><span class="c3"></span></p>
  <p class="c0"><span class="c1">6.1 </span></p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0">
    <span class="c5"
      >Unsere Webseite soll der schulischen Unterstützung von Schülerinnen und
      Schülern dienen, indem engagierte Tutoren ihr Wissen live teilen und so
      Schulkindern helfen können. Der gegenseitige Respekt der jeweiligen Nutzer
      ist hierbei von höchstgradiger Bedeutung, um ein</span
    ><span class="c5">e</span
    ><span class="c5"
      >n respektvollen Umgang und somit eine Vertraute Umgebung zu schaffen. Es
      ist ausdrücklich untersagt die Plattform zu nutzen, um Nutzer oder Dritte
      zu belästigen, Ihnen zu drohen oder auf </span
    ><span class="c5">eine andere</span
    ><span class="c1">&nbsp;Art und Weise zu verletzen. </span>
  </p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0"><span class="c1">6.2</span></p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0">
    <span class="c1"
      >Jeder Nutzer verpflichtet sich, andere Nutzer weder zu schädigen noch
      schuldhaft zu täuschen. Zudem dürfen die naklar.io-Dienste nicht zu dem
      Zweck verwendet werden, mit dem Nutzer gegen die Gesetze der
      Bundesrepublik Deutschland verstoßen.
    </span>
  </p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0"><span class="c1">6.3 </span></p>
  <p class="c0">
    <span class="c5">Tutoren und Schüler verpflichten sich</span
    ><span class="c5">&nbsp;</span><span class="c5">die geltenden </span
    ><span class="c5">Jugendvorschriften</span
    ><span class="c5">&nbsp;einzuhalten. Jegliche Art von </span
    ><span class="c5">sexuelle</span
    ><span class="c5"
      >, gewaltverherrlichende, diskriminierende oder moralisch
      verwerflich</span
    ><span class="c5">e</span
    ><span class="c5">&nbsp;Kommunikation oder Handlung</span
    ><span class="c5">en</span
    ><span class="c1">&nbsp;sind strengstens untersagt.</span>
  </p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0"><span class="c1">6.4 </span></p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0">
    <span class="c5">Handlungen, die die naklar.io Dienste und deren N</span
    ><span class="c5">utzung</span
    ><span class="c1"
      >&nbsp;sabotieren oder erschweren sind untersagt. Verboten sind dabei
      insbesondere Handlungen, die die logische Struktur der
      Plattform-Infrastruktur oder die physikalische Struktur beeinflussen
      können.
    </span>
  </p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0"><span class="c3">7. Äußerungen und Inhalte </span></p>
  <p class="c0 c2"><span class="c3"></span></p>
  <p class="c0"><span class="c1">7.1 </span></p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0">
    <span class="c1"
      >Naklar.io darf nicht dazu benutz werden, Inhalte oder Äußerungen zu
      kommunizieren, die gegen die Gesetze der Bundesrepublik Deutschland
      verstoßen. Dazu gehören auch Links, die auf Jugendgefährdende Inhalte
      verlinken.
    </span>
  </p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0"><span class="c1">7.2</span></p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0">
    <span class="c1"
      >Zudem untersagt ist die Verwendung oder Kommunikation von anstößigen
      Inhalten, Bezeichnungen mit doppeldeutigen Charakter, oder anderweitigen
      Darstellungen, die sich am Rand der rechtlichen Rahmen bewegen.
    </span>
  </p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0"><span class="c1">7.3</span></p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0">
    <span class="c1"
      >Das Hochladen und Übermitteln von Inhalten, z.B. über die Chatfunktion,
      ist untersagt, sofern der Nutzer die dazu erforderlichen Rechte nicht
      besitzt. Das Verletzen von fremden Marken-, Urheber-, oder Patentrechten
      ist hierbei strengstens untersagt.
    </span>
  </p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0"><span class="c1">7.4</span></p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0">
    <span class="c1"
      >Die Erstellung von Sicherheitskopien liegt in der Eigenverantwortung der
      jeweiligen Nutzer. Naklar.io kann für einen eventuellen Datenverlust keine
      Verantwortung tragen.
    </span>
  </p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0"><span class="c3">8. Werbung und kommerzielle Nutzung </span></p>
  <p class="c0 c2"><span class="c3"></span></p>
  <p class="c0"><span class="c1">8.1 </span></p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0">
    <span class="c5"
      >Naklar.io wurde mit dem Ziel ins Leben gerufen, Schüler mit
      ehrenamtlichen Tutoren zu verknüpfen. Eine Nutzung von naklar.io zu
      gewerblichen Zwecken/Absichten ist strengsten untersagt. Dazu </span
    ><span class="c5">gehör</span><span class="c1">en</span>
  </p>
  <ul class="c12 lst-kix_hv14pa8s82oj-0 start">
    <li class="c0 c10">
      <span class="c1"
        >Aktionen, mit dem Ziel, Schüler auf eine andere Plattform zu
        bringen</span
      >
    </li>
    <li class="c0 c10">
      <span class="c1"
        >Aktionen, mit dem Ziel, Schüler an ein anderes Unternehmen zu
        verweisen, dass mit dem Angebot von schulbezogenen Dienstleistungen
        Erträge erzielt</span
      >
    </li>
    <li class="c0 c10">
      <span class="c1"
        >Aktionen, mit dem Ziel, Tutoren als Nachhilfelehrer abzuwerben.
      </span>
    </li>
    <li class="c0 c10">
      <span class="c1"
        >Aktionen von Tutoren, mit dem Ziel, Schüler als zahlenden
        Nachhilfeschüler zu werben.
      </span>
    </li>
    <li class="c0 c10">
      <span class="c1"
        >Nutzung der naklar.io-Dienste zu Werbezwecken, insbesondere das Werben
        von kommerziellen Internetseiten</span
      >
    </li>
  </ul>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0">
    <span class="c1"
      >Jegliche weitere Handlung, die unsere Plattform zur Ertragsabsicht nutzt,
      ist untersagt.
    </span>
  </p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0"><span class="c1">8.2</span></p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0">
    <span class="c5"
      >naklar.io behält es sich vor, Verstöße gegen 8.1 mit einer Vertragsstrafe
      in Höhe von 500,00 Euro pro Vorfall zu ahnden. Etwaige
      Schadensersatzansprüche der </span
    ><span class="c5">goodgrade</span
    ><span class="c5">&nbsp;GmbH &amp; Co. KG bleiben hiervon unberührt. </span>
  </p>
  <p class="c0 c2"><span class="c3"></span></p>
  <p class="c0">
    <span class="c3">9. Nutzung zu persönlichen und privaten Zwecken</span>
  </p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0"><span class="c1">9.1 </span></p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0">
    <span class="c1"
      >Jeder Nutzer darf die naklar.io-Dienste nur für den persönlichen Bereich
      und die private Nutzung verwenden. Ausgeschlossen hiervon sind staatliche
      Schulen, die naklar.io als zusätzliche Unterstützung für Ihren Lehrauftrag
      verwenden wollen.
    </span>
  </p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0"><span class="c1">9.2</span></p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0">
    <span class="c1"
      >Jede weitere Nutzung von naklar.io zu gewerblichen Zwecken, bedarf einer
      ausdrücklichen schriftlichen Genehmigung von naklar.io.</span
    >
  </p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0">
    <span class="c3">10. Eigenverantwortliche Nutzung der Dienste</span>
  </p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0">
    <span class="c1"
      >Jeder Nutzer von naklar.io trägt die vollumfängliche Verantwortung für
      seine Handlungen und Aktivitäten im Rahmen der naklar.io-Dienste.
      naklar.io führt keine Überprüfung der Inhalte und Äußerungen vor Ihrer
      Einstellung in das Internet durch. Als Plattformbetreiber können wir zudem
      keine vollumfängliche Kontrolle der Inhalte leisten.
    </span>
  </p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0"><span class="c3">11. Rechte von naklar.io</span></p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0"><span class="c1">11.1</span></p>
  <p class="c0">
    <span class="c1"
      >Verstöße gegen diese Nutzungsbedingungen berechtigen naklar.io ab
      Kenntnis und aufgrund der rechtlichen Verantwortung im Rahmen des § 10
      TMG, den jeweiligen Nutzer auszuschließen. naklar.io ist nicht
      verfplichtet, den Nutzer vor Löschung eine Warnung zuzusenden.
    </span>
  </p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0"><span class="c1">11.2</span></p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0">
    <span class="c5"
      >Hat ein Nutzer zwei Monate lang keine naklar.io-Dienste in beansprucht,
      so ist naklar.io berechtigt, die Registrierung des Nutzers aufheben und
      sein Profil inklusive der daran hängenden Daten zu löschen. naklar.io ist
      nicht verpflichtet, den Nutzer vor Löschung der Registrierung und der
      Inhalte zu warnen.</span
    >
  </p>
  <p class="c0 c2"><span class="c8"></span></p>
  <p class="c0"><span class="c1">11.3</span></p>
  <p class="c14 c0">
    <span class="c5"
      >naklar.io, seine Erfüllungsgehilfen und/oder Vertreter übernehmen keine
      Gewährleistung, noch versichern sie, dass die naklar.io-Dienste, für einen
      spezifischen Zweck geeignet, verfügbar, zuverlässig oder pünktlich sind.
      “Wie besehen” und ohne Gewährleistung irgendeiner Art werden die Dienste
      zu Verfügung gestellt, es sei denn, die Mangelhaftigkeit des Dienstes
      beruht sich auf einem vorsätzlichen oder grob fahrlässigen Verhalten von
      naklar.io.</span
    >
  </p>
  <p class="c0"><span class="c1">11.4</span></p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0">
    <span class="c5">Die ständige Verfügbarkeit </span
    ><span class="c5">seiner</span
    ><span class="c1"
      >&nbsp;Dienste gewährleistet naklar.io nicht. Dazu gehören auch
      beispielsweise das Vorhandensein von Viren oder anderen Bestandteilen die
      schädliche Eigenschaften besitzen.
    </span>
  </p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0"><span class="c3">12. Rechtswirksamkeit</span></p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0">
    <span class="c1"
      >Sollten Teile oder einzelne Formulierungen dieses Textes der geltenden
      Rechtsgrundlage nicht vollständig oder nicht mehr entsprechen, so bleiben
      die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit
      unberührt.
    </span>
  </p>
  <p class="c0 c2"><span class="c16"></span></p>
  <p class="c0"><span class="c3">13. Änderungen dieser AGB </span></p>
  <p class="c0 c2"><span class="c7"></span></p>
  <p class="c0">
    <span class="c5"
      >naklar.io behält sich vor, Änderungen an diesen AGB vorzunehmen, soweit
      diese für den Kunden zumutbar sind. naklar.io wird den Kunden von einer
      Änderung mit angemessener Frist vor deren Inkrafttreten in Kenntnis
      setzen, z.B. per Nachricht in das Nutzerkonto oder über die bei der
      Registrierung gespeicherte E-Mail-Adresse des Kunden, und die Änderung in
      den aktuellen und auf der Plattform abrufbaren AGB vornehmen. Widerspricht
      der Kunde der Geltung der neuen AGB nicht innerhalb von 4 Wochen nach der
      Benachrichtigung und nimmt die Leistungen von naklar.io weiterhin in
      Anspruch, gelten die geänderten AGB als vom Kunden angenommen. naklar.io
      wird dem Kunden in der Benachrichtigung auf sein Widerspruchsrecht und die
      Bedeutung der Widerspruchsfrist hinweisen.
    </span>
  </p>
  <p class="c0 c2"><span class="c3"></span></p>
  <p class="c0"><span class="c3">14. Sonstiges </span></p>
  <p class="c0 c2"><span class="c7"></span></p>
  <p class="c0">
    <span class="c1"
      >14.1. Es gilt ausschließlich das Recht der Bundesrepublik Deutschland
      unter Ausschluss des UN-Kaufrechts.
    </span>
  </p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0">
    <span class="c1"
      >14.2. Online-Streitbeilegung gemäß Art. 14 Abs. 1 ODR-VO: Die Europäische
      Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit,
      die Sie unter http://ec.europa.eu/consumers/odr/ finden.
    </span>
  </p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0">
    <span class="c1"
      >14.3. naklar.io ist zur Teilnahme an einem Streitbeilegungsverfahren vor
      einer Verbraucherschlichtungsstelle weder bereit noch verpflichtet.
    </span>
  </p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0">
    <span class="c1"
      >14.4. Als Gerichtsstand wird der Geschäftssitz der goodgrade GmbH &amp;
      Co. KG (Planegg) vereinbart, soweit es sich bei dem Kunden um einen
      Unternehmer oder eine juristische Person des öffentlichen Rechts handelt.
    </span>
  </p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0">
    <span class="c1"
      >14.5. Nebenabreden zu diesem Vertrag bestehen nicht. Eine Änderung,
      Ergänzung oder die Aufhebung dieses Vertrages bedarf zu seiner Wirksamkeit
      der Schriftform.
    </span>
  </p>
  <p class="c0 c2"><span class="c1"></span></p>
  <p class="c0">
    <span class="c1"
      >14.6. Sollten einzelne Bestimmungen dieser allgemeinen
      Geschäftsbedingungen ganz oder teilweise unwirksam sein, bleibt die
      Geltung der übrigen Bestimmungen unberührt.
    </span>
  </p>
</div>
