<div class="container">
  <div class="row my-3">
    <div class="col text-center text-primary">
      <h3>Wie funktioniert naklar.io?</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3 class="text-primary text-center">1.</h3>
      <p class="text-center">
        <strong>
          Bereit? Ein Klick und es geht los.
        </strong>
      </p>
      <p class="text-justify">
        Wähle das Fach aus, indem Du einen Tutor mit Fragen löchern willst und
        klicke auf “Absenden”. Danach suchen wir direkt nach einem passenden
        Tutor, der gerade für Dich zur Verfügung steht.
      </p>
    </div>
    <div class="col-md-4">
      <h3 class="text-primary text-center">2.</h3>
      <p class="text-center">
        <strong>
          Matching. Schnell und Einfach.
        </strong>
      </p>
      <p class="text-justify">
        Sobald ein passender Tutor gefunden wurde, wird Dir sein/ihr Profil mit
        allen von demjenigen angebotenen Fächern und einem Foto angezeigt. Wenn
        Du und der Tutor bestätigt gelangt Ihr direkt in eine virtuellen Raum
        und könnt loslegen.
      </p>
    </div>
    <div class="col-md-4">
      <h3 class="text-primary text-center">3.</h3>
      <p class="text-center">
        <strong>
          Frage(n) stellen. Die Tafel und der Chat.
        </strong>
      </p>
      <p class="text-justify">
        Per Audio, Video oder Chat kannst Du mit dem Tutor sprechen. Du kannst
        auch ein Foto von Deiner Aufgabe hochladen, etwas auf die virtuelle
        Tafel schreiben oder Deinen Bildschirm teilen. Nach Beendigung der
        Session kannst Du ein kurzes Feedback ausfüllen. Danke!
      </p>
    </div>
  </div>
</div>
