<div bodyScrollSpy [spiedTags]="['DIV']" (sectionChange)="onScrollSectionChange($event)">

  <!-- PARTNERS -->
  <div class="px-0 py-5 mt-5 full-width bg-light" id="partners">
    <!--  <hr>-->

    <!--  <div class="row" style="margin-top: -1.85rem">-->
    <!--    <div class="col-12 text-center" style="color: rgba(0,0,0,0.4);">-->
    <!--      <span -->
    <!--        style="background: white; padding: 7px 15px; border-radius: 1.4rem; border: 1px solid rgba(0,0,0,0.1); border-top: none"-->
    <!--      >UNTERSTÜTZT VON</span>-->
    <!--    </div>-->
    <!--  </div>-->
    <div class="container">
      <home-more-information-partners></home-more-information-partners>
    </div>

    <!--  <hr>-->
  </div>


  <!-- FEATURES -->
  <div class="container mt-5" id="features">
    <home-more-information-features></home-more-information-features>
  </div>


  <!-- VIDEO -->
  <div class="full-width bg-gradient-primary" id="video">
    <div class="container">
      <home-more-information-video></home-more-information-video>
    </div>
  </div>


  <!-- MISSION -->
  <div class="container" id="mission">
    <home-more-information-mission></home-more-information-mission>
  </div>


  <!-- NUMBERS -->
  <div class="mx-auto px-0 bg-gray" style="color: rgb(122, 122, 122);" id="numbers">
    <home-more-information-numbers [parentCurrentScrollSectionId]="currentScrollSection$$"></home-more-information-numbers>
  </div>


  <!-- TEAM -->
  <div class="container my-5" id="team">
    <home-more-information-team></home-more-information-team>
  </div>

</div>
