<div class="container-fluid" appScrollSpy [spiedTags]="['DIV']" (sectionChange)="onScrollSectionChange($event)">

  

  <!--
   FEATURES 
  <div class="container mt-5" id="features">
    <home-more-information-features></home-more-information-features>
  </div>


   VIDEO 
  <div class="row">
    <div class="col-12 bg-gradient-primary" id="video">
      <div class="container">
        <home-more-information-video></home-more-information-video>
      </div>
    </div>
  </div>


   MISSION 
  <div class="container" id="mission">
    <home-more-information-mission></home-more-information-mission>
  </div>


   NUMBERS 
  <div class="mx-auto px-0 bg-gray" style="color: rgb(122, 122, 122);" id="numbers">
    <home-more-information-numbers [parentCurrentScrollSectionId]="currentScrollSection$$"></home-more-information-numbers>
  </div>

   JOIN THE COMMUNITY 
  <div class="container" id="join">
    <home-more-information-join-the-community></home-more-information-join-the-community>
  </div>


   TEAM 
  <div class="container my-5" id="team">
    <home-more-information-team></home-more-information-team>
  </div>
-->
</div>
