<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 class="primary-color">
        Schön, dass du da bist!
      </h1>
      <p class="lead grey" id="greyLead">
        Die Schüler brauchen Deine Hilfe und helfen kann jeder ;) Wenn du…
      </p>
      <ul>
        <li>
          Dein fachliches Wissen weitergeben möchtest
        </li>
        <li>
          Spaß an der Arbeit mit Kindern hast
        </li>
        <li>
          Über Computer/ Laptop/ Tablet mit einem Mikrofon/ Webcam verfügst
        </li>
      </ul>
      <p class="lead grey" id="greyLead">
        … bist du hier genau richtig
      </p>
    </div>
    <div class="col-md-6 justify-content-center">
      <div class="card">
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-1 text-primary">1</dt>
            <dd class="col-sm-11">
              Profil mit Foto und Verifizierungsdatei in nur 2 Minuten anlegen.
            </dd>
            <dt class="col-sm-1 text-primary">2</dt>
            <dd class="col-sm-11">
              Wir verifizieren Dich nach der Bestätigung deiner Email.
            </dd>
          </dl>

          <a
            routerLink="/account/tutor/register"
            class="btn nabtn-primary register-btn btn-block"
            >Jetzt Tutor werden</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center my-5 text-center">
    <div class="col-12 p-0">
      <img
        src="assets/img/keyvisual_naklar.svg"
        alt="Warum Tutor werden"
        style="max-height: 10rem;"
      />
      <h1>Warum du Tutor werden solltest:</h1>
    </div>
    <div class="container">
      <div class="row" id="whytutor">
        <div class="col">
          <img src="assets/img/tutors/einfach.svg" alt="Warum Tutor werden" />
          <h2 class="text-primary ml-3 ml-md-0">Flexibel & Easy</h2>
          <p>
            Wann und wo immer Du willst. Alles was du brauchst ist Dein Wissen!
          </p>
        </div>
        <div class="col">
          <img src="assets/img/tutors/karma.svg" alt="Warum Tutor werden" />
          <h2 class="text-primary ml-3 ml-md-0">#gutfürskarma</h2>
          <p>Ehrenamtlich Helfen war noch nie so einfach!</p>
        </div>
        <div class="col">
          <img
            src="assets/img/tutors/zertifikat.svg"
            alt="Warum Tutor werden"
          />
          <h2 class="text-primary ml-3 ml-md-0">Macht sich gut!</h2>
          <p>
            Zertifikat für dein soziales Engagement für einen noch attraktiveren
            CV.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-light">
    <blockquote class="blockquote">
      <p class="mb-0">
        „Ich finds genial, dass die Suche einfach läuft und wenn ein Schüler da
        ist kommt ein Ton. Ich kann also nebenbei einfach Lernen und helfe
        zwischendurch.“
      </p>
      <footer class="blockquote-footer">
        Tom 23, <cite title="Source Title">Physik-Student</cite>
      </footer>
    </blockquote>
  </div>
  <div class="row justify-content-center">
    <div class="col-6">
      <a
        routerLink="/account/tutor/register"
        class="btn nabtn-primary register-btn btn-block"
        >Jetzt Tutor werden</a
      >
    </div>
  </div>
  <br>
  <hr />
  <br>
  <div class="row justify-content-center">
    <h2 class="grey">Du findest naklar.io genau so geil wie wir?</h2>        
  </div>
  <div class="row justify-content-center">
    <h1 style="font-size:2em">Empfiehl uns jetzt an deine Freunde!</h1>       
  </div> 
    <div class="col-12" style="margin:2em">
      <app-social-icons></app-social-icons>
    </div>

  <!----
  <h1 class="primary-color">Für Tutoren</h1>
  <p>
    Liebe/r Tutor/in,
  </p>

  <p>
    wir finden es super, dass Du Dich engagieren und Schülern helfen möchtest.
    Alles was du dazu brauchst:
  </p>

  <ul>
    <li>
      Fachliches Wissen das du gerne weitergeben möchtet
    </li>
    <li>
      Sympathisches Auftreten und Spaß an der Arbeit mit Kindern
    </li>
    <li>
      Einen Computer mit Webcam und Mikrofon; im Besten Fall ein Tablet um die
      virtuelle Tafel nutzen zu können
    </li>
    <li>
      Ruhigen Raum und stabiles Internet
    </li>

    <li>
      Ein Tutoren-Profil:
      <a routerLink="/account/tutor/register">hier anlegen</a>
    </li>
  </ul>

  <p>
    Sobald du dein Profil bei uns eingeschickt habt, melden wir uns bei Dir und
    verifizieren Dich als Tutor/in. Dann kann es sofort losgehen!
  </p>

  <p>
    Viel Spaß!
    <br />
    Dein naklar.io Team
  </p>

  <small>
    PS: Schreib uns gerne, wenn du Anregungen oder Wünsche habt, die noch auf
    der Plattform fehlen oder verbessert werden können.
    <a href="mailto:info@naklar.io">
      info@naklar.io
    </a>
  </small>
</div>
--></div>
