<div class="container">
  <h1 class="primary-color">Für Tutoren</h1>
  <p>
    Liebe/r Tutor/in,
  </p>

  <p>
    wir finden es super, dass Du Dich engagieren und Schülern helfen möchtest.
    Alles was du dazu brauchst:
  </p>

  <ul>
    <li>
      Fachliches Wissen das du gerne weitergeben möchtet
    </li>
    <li>
      Sympathisches Auftreten und Spaß an der Arbeit mit Kindern
    </li>
    <li>
      Einen Computer mit Webcam und Mikrofon; im Besten Fall ein Tablet um die
      virtuelle Tafel nutzen zu können
    </li>
    <li>
      Ruhigen Raum und stabiles Internet
    </li>

    <li>
      Ein Tutoren-Profil:
      <a routerLink="/account/tutor/register">hier anlegen</a>
    </li>
  </ul>

  <p>
    Sobald du dein Profil bei uns eingeschickt habt, melden wir uns bei Dir und
    verifizieren Dich als Tutor/in. Dann kann es sofort losgehen!
  </p>

  <p>
    Viel Spaß!
    <br />
    Dein naklar.io Team
  </p>

  <small>
    PS: Schreib uns gerne, wenn du Anregungen oder Wünsche habt, die noch auf
    der Plattform fehlen oder verbessert werden können.
    <a href="mailto:info@naklar.io">
      info@naklar.io
    </a>
  </small>
</div>
