<div class="container">
  <h1 class="primary-color">Tutoren sind gern gesehen</h1>
  <p class="lead">
    Nur durch die aktive Unterstützung unserer Tutoren können wir tausenden
    Schülern helfen.
  </p>

  <div *ngIf="submitSuccess" class="alert alert-success text-center" >
    <p>Wir haben deine Anmeldung erhalten und überprüfen diese jetzt.</p>
    <p>Sobald wir fertig sind, <strong>melden wir uns per Mail</strong></p>
  </div>
  <div *ngIf="error" class="alert alert-danger text-center">
    {{error | json}}
  </div>

  <form #tutorForm="ngForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col">
        <label for="firstName">Vorname</label>
        <input
          type="text"
          formControlName="firstName"
          class="form-control"
        />
      </div>
      <div class="form-group col">
        <label for="lastName">Nachname</label>
        <input
          type="text"
          formControlName="lastName"
          class="form-control"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="email">Email</label>
        <input
          type="email"
          formControlName="email"
          class="form-control"
        />
      </div>
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">
          Du musst eine email angeben
        </div>
        <div *ngIf="f.email.errors.email">
          Diese Email ist invalide
        </div>
      </div>
      <div class="form-group col">
        <label for="state">Bundesland</label>
        <select
          name="state"
          class="form-control"
          formControlName="state"
        >
          <option *ngFor="let state of states" [ngValue]="state">
            {{ state.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="password">Passwort</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
        />
        <div
          *ngIf="submitted && registerForm.errors?.passwordNotMatch"
          class="invalid-feedback"
        >
          Die beiden Passwörter müssen überein stimmen.
        </div>
      </div>
      <div class="form-group col">
        <label for="passwordRepeat">Passwort wiederholen</label>
        <input
          type="password"
          formControlName="passwordRepeat"
          class="form-control"
          required
        />
        <div
          *ngIf="submitted && registerForm.errors?.passwordNotMatch"
          class="invalid-feedback"
        >
          Die beiden Passwörter müssen überein stimmen
        </div>
      </div>
    </div>

    <label for="schoolType">Schultypen, die du unterrichten möchtest:</label>
    <div class="form-group">
      <div
        *ngFor="let schoolType of schoolTypesControl.controls; let i = index"
        class="form-row"
      >
        <div class="col-3 form-check my-3 align-middle">
          <input
            type="checkbox"
            [formControl]="schoolType"
            id="school-type-{{ schoolTypes[i].id }}"
            name="schoolType"
            class="form-check-input"
          />
          <label
            class="form-check-label"
            for="school-type-{{ schoolTypes[i].id }}"
          >
            {{ schoolTypes[i].name }}
          </label>
        </div>
        <div
          class="col-3 text-center align-middle"
          [hidden]="schoolType.value !== true"
        >
          <p>Klasse (von/bis):</p>
        </div>
        <div class="col" [hidden]="schoolType.value !== true">
          <ng5-slider
            [options]="sliderOptions[i]"
            [formControl]="sliderControl.controls[i]"
          ></ng5-slider>
        </div>
      </div>
    </div>

    <div class="my-4">
      <div class="form-row">
        <label for="subjects"
          >Für welche Fächer willst du Fragen beantworten:</label
        >
      </div>
      <div class="form-row">
        <div
          *ngFor="let subject of subjectsControl.controls; let i = index"
          class="form-check form-check-inline"
        >
          <input
            type="checkbox"
            [formControl]="subject"
            id="subject-{{ subjects[i].id }}"
            class="form-check-input"
            [value]="subjects[i]"
          />
          <label class="form-check-label" for="subject-{{ subjects[i].id }}"
            >{{ subjects[i].name }}
          </label>
        </div>
      </div>
    </div>

    <div class="form-group form-row form-check-inline">
      <input
        type="checkbox"
        formControlName="terms"
        class="form-check-input"
      />
      <label for="terms" class="form-check-label"
        >Ja, ich habe die <a routerLink="/account/terms">AGB</a> gelesen</label
      >
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="submitSuccess || loading"
    >
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      Absenden
    </button>
  </form>
</div>
