@import "../../../../styles";
@import "../../form-styles";

.colored-select {
  label {
    background-color: lightgrey;
    border-radius: 1em;
    margin: 0.5em;
    padding: 0.5em;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: all ease-in-out 200ms;
  }

  input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  input:checked ~ label {
    background-color: $primary;
    color: #fff;
  }
  :hover ~ label {
    background-color: #ccc;
  }
}

