<div class="container">
  <h1 class="primary-color">Tutoren sind gern gesehen</h1>
  <p class="lead">
    Nur durch die aktive Unterstützung unserer Tutoren können wir tausenden
    Schülern helfen.
  </p>

  <div class="alert alert-success text-center" [hidden]="!submitted">
    <p>Wir haben deine Anmeldung erhalten und überprüfen diese jetzt.</p>
    <p>Sobald wir fertig sind, <strong>melden wir uns per Mail</strong></p>
  </div>

  <form #tutorForm="ngForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col">
        <label for="firstName">Vorname</label>
        <input
          type="text"
          formControlName="firstName"
          [disabled]="submitted"
          class="form-control"
        />
      </div>
      <div class="form-group col">
        <label for="lastName">Nachname</label>
        <input
          type="text"
          formControlName="lastName"
          class="form-control"
          [disabled]="submitted"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="from-group col">
        <label for="email">Email</label>
        <input
          type="email"
          fromControlName="email"
          class="form-control"
          [disabled]="submitted"
        />
      </div>
      <div class="from-group col">
        <label for="state">Bundesland</label>
        <select
          name="state"
          class="form-control"
          formControlName="state"
          [disabled]="submitted"
        >
          <option *ngFor="let state of states" [ngValue]="state">
            {{ state.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="password">Passwort</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          [disabled]="submitted"
        />
      </div>
      <div class="form-group col">
        <label for="passwordRepeat">Passwort wiederholen</label>
        <input
          type="password"
          formControlName="passwordRepeat"
          class="form-control"
          [disabled]="submitted"
          required
        />
      </div>
    </div>

    <label for="schoolType">Schultypen, die du unterrichten möchtest:</label>
    <div class="form-group">
      <div *ngFor="let schoolType of schoolTypes" class="form-row">
        <div class="col-3 form-check my-3 align-middle">
          <input
            type="checkbox"
            formControlName="schoolType"
            id="school-type-{{ schoolType.id }}"
            class="form-check-input"
            [disabled]="submitted"
          />
          <label class="form-check-label" for="school-type-{{ schoolType.id }}">
            {{ schoolType.name }}
          </label>
        </div>
        <div class="col-3 text-center align-middle">
          <p>Klasse (von/bis):</p>
        </div>
        <div class="col" [hidden]="">
          <!-- <ng5-slider
            [options]="slider_options"
          ></ng5-slider> -->
        </div>
      </div>
    </div>

    <div class="my-4">
      <div class="form-row">
        <label for="subjects"
          >Für welche Fächer willst du Fragen beantworten:</label
        >
      </div>
      <div class="form-row">
        <div
          *ngFor="let subject of subjects"
          class="form-check form-check-inline"
        >
          <input
            type="checkbox"
            formControlName="subjects"
            id="subject-{{ subject.id }}"
            class="from-check-input"
            [disabled]="submitted"
          />
          <label class="form-check-label" for="subject-{{ subject.id }}"
            >{{ subject.name }}
          </label>
        </div>
      </div>
    </div>

    <div class="form-group form-row form-check-inline">
      <input
        type="checkbox"
        formControlName="terms"
        class="form-check-input"
        [disabled]="submitted"
      />
      <label for="terms" class="form-check-label"
        >Ja, ich habe die <a routerLink="/account/terms">AGB</a> gelesen</label
      >
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="submitted || loading"
    >
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      Absenden
    </button>
  </form>
</div>
