<div class="container">
  <h1 class="primary-color">Tutoren sind gern gesehen</h1>
  <p class="lead">
    Nur durch die aktive Unterstützung unserer Tutoren können wir tausenden
    Schülern helfen.
  </p>

  <form (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col">
        <label for="first-name">Vorname</label>
        <input
          type="text"
          [(ngModel)]="model.first_name"
          class="form-control"
          name="first-name"
          required
        />
      </div>
      <div class="form-group col">
        <label for="last-name">Nachname</label>
        <input
          type="text"
          class="form-control"
          name="last-name"
          [(ngModel)]="model.last_name"
          required
        />
      </div>
    </div>
    <div class="form-row">
      <div class="from-group col">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          class="form-control"
          [(ngModel)]="model.email"
          required
        />
      </div>
      <div class="form-group col">
        <label for="password">Passwort</label>
        <input
          type="password"
          name="password"
          class="form-control"
          [(ngModel)]="model.password"
          required
        />
      </div>
    </div>
    <div class="form-row">
      <div class="from-group col">
        <label for="state">Bundesland</label>
        <select
          name="state"
          class="form-control"
          [(ngModel)]="model.state"
          required
        >
          <option *ngFor="let state of states" [value]="state">
            {{ state.name }}
          </option>
        </select>
      </div>
    </div>

    <label>Schultypen</label>
    <div class="form-group">
      <div *ngFor="let schoolType of schoolTypes" class="form-row">
        <div class="col-3 form-check">
          <label class="form-check-label">
            <input
              type="checkbox"
              name="school-type"
              class="form-check-input"
              [value]="schoolType"
              required
            />
            {{ schoolType.name }}
          </label>
        </div>
        <div class="col">
          <ng5-slider
            [options]="slider_options[schoolType.id]"
            [(value)]="slider_data[schoolType.id].low"
            [(highValue)]="slider_data[schoolType.id].high"
            class="form-control-range"
          ></ng5-slider>
        </div>
      </div>
    </div>

    <button type="submit" class="btn bin-primary">Absenden</button>

  </form>
</div>
