<div class="container">
  <h1 class="primary-color">Für Schüler</h1>
  <p>
    Cool, Dich hier zu sehen!
  </p>
  <p>
    wir wissen, dass die aktuelle Situation mit Homeschooling für Euch sehr
    herausfordernd ist. Viele Arbeitsblätter sind zu bearbeiten, gleichzeitig
    funktioniert die Kommunikation mit euren Lehrkräften meistens nicht oder nur
    zum Teil. Auf naklar.io kannst Du ganz einfach und zu jedem Fach Deine
    Fragen stellen! Die Tutoren freuen sich Dir zu helfen.
  </p>

  <p>
    Wir möchten euch eine Plattform bieten, auf der Ihr schnell und einfach zu
    geprüften Tutoren gelangt, die euch über Video- oder Audiotelefonat eure
    Fragen zum Schulstoff beantworten. Es gibt eine virtuelle Tafel und eine
    Uploadfunktion für Schulunterlagen, zB. Aufgabenstellungen, für die
    bestmögliche Kommunikation zwischen dir und dem Tutor.
  </p>

  <p>
    Wenn dir die Plattform gefällt teile es gerne mit deinen Freunden oder
    Klassenkameraden ;)
  </p>

  <p>
    Viel Spaß!
  </p>
  <small>
    PS: Schreib uns gerne, wenn du Anregungen oder Wünsche habt, die noch auf
    der Plattform fehlen oder verbessert werden können.
    <a href="mailto:info@naklar.io">
      info@naklar.io
    </a>
  </small>
</div>
