<div class="container">
  <h1 class="primary-color">Informationen für Eltern</h1>
  <p>
    unser Ziel mit naklar.io ist es, Ihre Kinden bei Fragen zum Schulstoff per
    Knopfdruck einen passenden und hilfsbereiten Tutor zur Verfügung zu stellen.
    Unser Matching sorgt dafür, dass Ihr Kind mit dem passendsten Tutor (nach
    Fach, Klasse, Schultyp und Bundesland) verknüpft wird.
  </p>
  <p>
    Zu Ihrem Kind passendste Tutor Wartezeiten auf die Antwort des Lehrers an
    der Schule frustrieren und lassen Ihr Kind noch eher die Motivation
    verlieren. Zudem möchten wir nicht, dass Sie als Eltern zusätzlich zu den
    vielen Aufgaben, die das Homeschooling und -Office mitbringt noch Ihren
    Kindern bei den Hausaufgaben helfen müssen. Das entlastet Sie in dieser
    stressigen Zeit und hilft Ihrem Kind bei Problemen mit einer Aufgabe gezielt
    weiter.
  </p>
  <p>
    Sicherheit und Vertrauen ist uns wichtig. Aus diesem Grund werden
    Tutor*innen von uns einzeln geprüft. Wir fragen personenbezogene Daten ab,
    lassen uns ein Ausweisdokument schicken und schalten unsere Tutoren erst
    frei, wenn wir sicher sind, dass sie Schüler*innen helfen können und auch
    wollen. Zusätzlich werden unsere Tutor*innen durch ein Bewertungssystem
    kontrolliert.
  </p>

  <p>
    Sie finden es auch klasse, dass sich hier so viele Tutoren ehrenamtlich
    engagieren? Bitte teilen Sie unsere Seite mit Freunden, Bekannten,
    Lehrkräften und anderen Netzwerken. Jeder Schüler, dem wir mit diesem
    Projekt helfen können ist ein Gewinn für unsere Gemeinschaft :)
  </p>
</div>
