<div class="container justify-content-center">
  <div class="row my-3">
    <div class="col text-center text-primary">
      <h3>Wie funktioniert naklar.io?</h3>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="embed-responsive embed-responsive-16by9" style="max-width: 600px;">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/H_yweRZJ9Ac"
        srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/H_yweRZJ9Ac?autoplay=1><img src=https://img.youtube.com/vi/H_yweRZJ9Ac/hqdefault.jpg alt='Für Tutoren | So funktioniert naklar.io'><span>▶</span></a>"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        title="Für Tutoren | So funktioniert naklar.io"
        class="embed-responsive-item"
      ></iframe>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-md-4">
      <h3 class="text-primary text-center">1.</h3>
      <p class="text-center">
        <strong>
          Bereit? Ein Klick und es geht los.
        </strong>
      </p>
      <p class="text-justify">
        Klicke einfach auf den Button “jetzt Schülern helfen” um den Schülern zu
        zeigen, dass du bereit für ihre Fragen bist.
      </p>
    </div>
    <div class="col-md-4">
      <h3 class="text-primary text-center">2.</h3>
      <p class="text-center">
        <strong>
          Matching. Schnell und Einfach.
        </strong>
      </p>
      <p class="text-justify">
        Sobald ein Schüler eine Frage in deinen Fächern hat, bekommst du einen
        Hinweis über den Schüler (Schulart, Klasse und Bundesland) und über das
        Fach in dem er Hilfe sucht. Sobald du bestätigst, kann die Session
        starten.
      </p>
    </div>
    <div class="col-md-4">
      <h3 class="text-primary text-center">3.</h3>
      <p class="text-center">
        <strong>
          Frage(n) klären. Die Tafel und der Chat.
        </strong>
      </p>
      <p class="text-justify">
        Du kannst die virtuelle Tafel benutzen, um deine Antworten & Erklärungen
        zu verdeutlichen. Der Schüler kann dir über den Chat zum Beispiel die
        Aufgabenstellung schicken. Zudem kannst du deinen Bildschirm teilen oder
        Dateien zum Bearbeiten hochladen.
      </p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md"></div>
  </div>
</div>
