<form #emailForm="ngForm" (ngSubmit)="onSubmit()" [hidden]="submitted">
  <div class="my-1">
    <div *ngFor="let type of ind_types" class="form-check form-check-inline">
      <label class="form-check-label">
        <input
          type="radio"
          name="ind_type"
          [value]="type.abbr"
          [(ngModel)]="model.ind_type"
          class="form-check-input"
          required
        />
        {{ type.full }}
      </label>
    </div>
  </div>

  <div class="py-1">
    <input
      type="email"
      [(ngModel)]="model.email"
      name="email"
      placeholder="Deine Email (wir melden uns zum Start)"
      class="form-control"
      #email="ngModel"
      required
      maxlength="254"
      appUniqueEmailAddress
    />
    <div [hidden]="email.valid || email.pristine" class="invalid-feedback">
      <div *ngIf="email.errors?.required">
        Du musst eine Emailadresse angeben.
      </div>
    </div>
  </div>

  <div class="form-check my-1">
    <input
      type="checkbox"
      name="updates"
      [(ngModel)]="model.updates"
      class="form-check-input"
    />
    <label class="form-check-label" for="updates"
      >Ja, sendet mit Updates zu naklar.io*</label
    >
  </div>
  <button
    class="btn btn-primary my-1"
    type="submit"
    [disabled]="emailForm.invalid"
  >
    Sei einer der ersten!
  </button>
</form>

<div [hidden]="!submitted" class="text-center">
  <h3 class="primary-color">Vielen Dank!</h3>
  <p>Wir haben deine Email {{ model.email }} erhalten</p>
  <p class="lead">
    Ganz wichtig: Teile unsere Seite mit weiterten Bekannten und Freunden. So
    können wir wirklich was bewegen.
  </p>
  <p>Dein naklar.io Team</p>
  <p>Dein Zugang zu motivierten Tutoren</p>
</div>
