<div *ngIf="requestType === 'tutor'">
  <div *ngIf="state === 'wait'">
    <div class="row">
      <div class="col">
        <div *ngIf="match" class="alert alert-danger">Leider hat {{ match.student.firstName }} die Verbindung
          abgelehnt.<span class="font-weight-bold">
            Wir suchen weiterhin nach einem Schüler für dich!
          </span></div>
        <p>
          Toll, dass Du Dir gerade Zeit für Schüler nimmst! Wir suchen nach
          einem passenden Schüler für Dich. Sobald jemand gefunden wurde ertönt
          ein Hinweiston - Du kannst Dich in der Zwischenzeit daher gerne mit
          anderen Sachen beschäftigen.
        </p>
        <div class="d-flex justify-content-center mb-1">
          <app-spinner-loader [loaderType]="loader">
          </app-spinner-loader>
          <!-- <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Schüler wird gesucht</span>
          </div> -->
        </div>
        <div *ngIf="notificationSupported && notificationPermission === 'default'" class="alert alert-info"
          role="alert">
          <span class="material-icons">
            notifications
          </span>
          <p>
            Um zusätzlich zum Ton eine visuelle Benachrichtigung zu erhalten, erlaube uns, dich zu benachrichtigen!
          </p>
          <button type="button" class="btn nabtn-secondary" (click)="askNotificationPermission()">Benachrichtigungen
            erlauben</button>
        </div>
        <div *ngIf="notificationSupported && notificationPermission === 'denied'" class="alert alert-danger"
          role="alert">
          <span class="material-icons">
            notifications_off
          </span>
          Leider hast du die Benachrichtigungen nicht aktiviert, bitte erlaube diese, um auch im Hintergrund
          benachrichtigt zu werden!
        </div>
        <div *ngIf="notificationSupported && notificationPermission === 'granted'" class="alert alert-success"
          role="alert">
          <span class="material-icons">
            notifications_active
          </span>
          Benachrichtigungen sind aktiviert!
        </div>
      </div>


    </div>
  </div>

  <div *ngIf="state !== 'wait'">
    <misc-audio-autoplay></misc-audio-autoplay>

    <p>Wir haben dir einen Schüler gefunden:</p>
    <misc-user-card [user]="student" [match]="match" type="student"></misc-user-card>

    <div *ngIf="state === 'maybe'">
      <hr />
      <div class="row">
        <p>Möchtest du {{ match.student.firstName }} helfen?</p>
      </div>
      <div class="row">
        <div class="col-6">
          <button class="btn btn-primary btn-block" (click)="onMatchAccepted(true)">
            Ja
          </button>
        </div>
        <div class="col-6">
          <button class="btn btn-danger btn-block" (click)="onMatchAccepted(false)">
            Nein
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="state === 'accepted'">
      <div *ngIf="match.bothAccepted(); else pending">
        {{ match.student.firstName }} hat die Verbindung akzeptiert. Ihr werdet
        in Kürze weitergeleitet.
      </div>

      <ng-template #pending>
        Warte, bis {{ match.student.firstName }} die Verbindung ebenfalls
        akzeptiert hat.
        <span class="spinner-border spinner-border-sm mr-1"></span>
      </ng-template>
    </div>
  </div>
</div>

<div *ngIf="requestType === 'student'">
  <div *ngIf="state === 'wait'">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <div class="alert alert-primary">
          <strong>Bitte rede mit unseren Tutoren! Das macht es uns leichter, deine
            Fragen zu beantworten.</strong>
          <br />
          Erlaube hierfür den <mark>Zugriff auf dein Mikrofon.</mark>

          <!--  <strong
            >Bitte wähle nach dem Match <mark>Mit Mikrofon</mark> und drücke beim
            Echotest auf <mark class="text-success">JA</mark></strong
          > -->
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-6 text-center">
          <p>
            Hey {{ user.firstName }}, bitte habe ein paar Momente Geduld -<br />
            Wir suchen gerade nach einem Tutor für dich!
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <app-spinner-loader [loaderType]="loader">
        </app-spinner-loader>
      </div>
    </div>
  </div>

  <div *ngIf="state !== 'wait'">
    <misc-audio-autoplay></misc-audio-autoplay>
    <div *ngIf="state === 'maybe'">
      <div class="row">
        <p>
          Möchtest du deine Frage von {{ match.tutor.firstName }} beantworten
          lassen?
        </p>
      </div>
      <div class="row">
        <div class="col-6">
          <button class="btn btn-primary btn-block" (click)="onMatchAccepted(true)">
            Ja
          </button>
        </div>
        <div class="col-6">
          <button class="btn btn-danger btn-block" (click)="onMatchAccepted(false)">
            Nein
          </button>
        </div>
      </div>
    </div>
    <hr />
    <misc-user-card [user]="tutor" [match]="match" type="tutor"></misc-user-card>

    <!--     <div *ngIf="state === 'maybe'">
      <hr />
      <div class="row">
        <p>
          Möchtest du deine Frage von {{ match.tutor.first_name }} beantworten
          lassen?
        </p>
      </div>
      <div class="row">
        <div class="col-6">
          <button class="btn btn-primary btn-block" (click)="onMatchAccepted(true)">
            Ja
          </button>
        </div>
        <div class="col-6">
          <button class="btn btn-danger btn-block" (click)="onMatchAccepted(false)">
            Nein
          </button>
        </div>
      </div>
    </div> -->

    <div *ngIf="state === 'accepted'">
      <div *ngIf="match.bothAccepted(); else pending">
        {{ match.tutor.firstName }} hat die Verbindung akzeptiert. Ihr werdet in
        Kürze weitergeleitet.
      </div>

      <ng-template #pending>
        Warte bis, {{ match.tutor.firstName }} die Verbindung ebenfalls
        akzeptiert hat.
        <span class="spinner-border spinner-border-sm mr-1"></span>
      </ng-template>
    </div>
  </div>
</div>