<div *ngIf="requestType === 'tutor'">
  <div *ngIf="state === 'wait'">
    <div class="row">
      <div class="col">
        <p>
          Toll, dass Du Dir gerade Zeit für Schüler nimmst! Wir suchen nach
          einem passenden Schüler für Dich. Sobald jemand gefunden wurde
          ertönt eine Hinweiston - Du kannst Dich in der Zwischenzeit daher
          gerne mit anderen Sachen beschäftigen.
        </p>
      </div>

      <div class="row justify-content-center">
        <div class="col">
          <span
            class="spinner-border spinner-border-sm mr-1 text-primary text-xl"
          ></span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="state !== 'wait'">
    <misc-audio-autoplay></misc-audio-autoplay>

    <p>Wir haben dir einen Schüler gefunden:</p>
    <misc-user-card
      [user]="student"
      [match]="match"
      type="student"
    ></misc-user-card>

    <div *ngIf="state === 'maybe'">
      <hr />
      <div class="row">
        <p>Möchtest du {{ match.student.firstName }} helfen?</p>
      </div>
      <div class="row">
        <div class="col-6">
          <button
            class="btn btn-primary btn-block"
            (click)="onMatchAccepted(true)"
          >
            Ja
          </button>
        </div>
        <div class="col-6">
          <button
            class="btn btn-danger btn-block"
            (click)="onMatchAccepted(false)"
          >
            Nein
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="state === 'accepted'">
      <div *ngIf="match.bothAccepted(); else pending">
        {{ match.student.firstName }} hat die Verbindung akzeptiert. Ihr werdet
        in kürze weitergeleitet.
      </div>

      <ng-template #pending>
        Warte bis, {{ match.student.firstName }} die Verbindung ebenfalls
        akzeptiert hat.
        <span class="spinner-border spinner-border-sm mr-1"></span>
      </ng-template>
    </div>
  </div>
</div>

<div *ngIf="requestType === 'student'">

  <div *ngIf="state === 'wait'">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <div class="alert alert-primary">
          <strong
            >Bitte rede mit unseren Tutoren! Das macht es uns
            leichter, deine Fragen zu beantworten.</strong>
            <br>
            Erlaube hierfür den <mark>Zugriff auf dein Mikrofon.</mark>

          <!--  <strong
            >Bitte wähle nach dem Match <mark>Mit Mikrofon</mark> und drücke beim
            Echotest auf <mark class="text-success">JA</mark></strong
          > -->
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-6 text-center">
          <p>
            Hey {{ user.firstName }}, bitte habe ein paar Momente Geduld -<br />
            Wir suchen gerade nach einem Tutor für dich!
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Sucht...</span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="state !== 'wait'">
    <misc-audio-autoplay></misc-audio-autoplay>
    <div *ngIf="state === 'maybe'">
      <div class="row">
        <p>
          Möchtest du deine Frage von {{ match.tutor.firstName }} beantworten
          lassen?
        </p>
      </div>
      <div class="row">
        <div class="col-6">
          <button
            class="btn btn-primary btn-block"
            (click)="onMatchAccepted(true)"
          >
            Ja
          </button>
        </div>
        <div class="col-6">
          <button
            class="btn btn-danger btn-block"
            (click)="onMatchAccepted(false)"
          >
            Nein
          </button>
        </div>
      </div>
    </div>
    <hr />
    <misc-user-card
      [user]="tutor"
      [match]="match"
      type="tutor"
    ></misc-user-card>

    <!--     <div *ngIf="state === 'maybe'">
      <hr />
      <div class="row">
        <p>
          Möchtest du deine Frage von {{ match.tutor.first_name }} beantworten
          lassen?
        </p>
      </div>
      <div class="row">
        <div class="col-6">
          <button class="btn btn-primary btn-block" (click)="onMatchAccepted(true)">
            Ja
          </button>
        </div>
        <div class="col-6">
          <button class="btn btn-danger btn-block" (click)="onMatchAccepted(false)">
            Nein
          </button>
        </div>
      </div>
    </div> -->

    <div *ngIf="state === 'accepted'">
      <div *ngIf="match.bothAccepted(); else pending">
        {{ match.tutor.firstName }} hat die Verbindung akzeptiert. Ihr werdet
        in Kürze weitergeleitet.
      </div>

      <ng-template #pending>
        Warte bis, {{ match.tutor.firstName }} die Verbindung ebenfalls
        akzeptiert hat.
        <span class="spinner-border spinner-border-sm mr-1"></span>
      </ng-template>
    </div>
  </div>
</div>
