<h1>Feedback</h1>

<p>
  Wie war dein Meeting? Nimm dir bitte eine Sekunde, um uns zu erzählen, ob
  alles ok war.
</p>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row form-group">
    <div class="col-md justify-content-center">
      <ngb-rating
        [formControl]="f.rating"
        [max]="5"
        class="form-rating"
      ></ngb-rating>
      <div class="invalid-feedback">
        <div *ngIf="f.rating.errors">
          Bitte gib uns ein Rating.
        </div>
      </div>
    </div>
  </div>

  <div class="row form-group">
    <textarea
      class="form-control"
      placeholder="Wie fandest du das Meeting?"
      name="feedback-message"
      rows="3"
      formControlName="message"
    ></textarea>
  </div>

  <div class="row form-group justify-content-left" id="buttons">
    <button
      type="submit"
      class="btn nabtn-primary"
      [disabled]="submitSuccess || loading"
    >
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      Absenden
    </button>
    <roulette-report
      [type]="requestType"
      [meeting]="meeting"
    ></roulette-report>
  </div>
</form>
