
<div class="row justify-content-center my-5"><br><h4 class="primary-color">Impressum</h4>
<div><br>Angaben gemäß § 5 TMG<br><br>

    Sebastian Scott<br>
    
    Otilostrasse 4a<br>
    
    82166 Gräfelfing<br><br>
    
    Kontakt<br>
    
    Telefon: 089614242254<br>
    
    E-Mail: sscott@web.de<br><br>
    
    <h5>Haftung für Inhalte</h5><br>
    
    Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den<br>
    
    allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht<br>
    
    verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu<br>
    
    forschen, die auf eine rechtswidrige Tätigkeit hinweisen.<br>
    
    Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen<br>
    
    Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der<br>
    
    Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden<br>
    
    Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.<br><br>
    
    <h5>Haftung für Links</h5><br>
    
    Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben.<br>
    
    Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der<br>
    
    verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten<br>
    
    Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte<br>
    
    waren zum Zeitpunkt der Verlinkung nicht erkennbar.<br>
    
    Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer<br>
    
    Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links<br>
    
    umgehend entfernen.<br><br>
    
    <h5>Urheberrecht</h5><br>
    
    Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen<br>
    
    Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der<br>
    
    Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.<br>
    
    Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.<br>
    
    Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter<br>
    
    beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine<br>
    
    Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei<br>
    
    Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</div>
</div>