<div class="row justify-content-center my-5 text-center">
  <div class="col-12 p-0">
    <h1>Unsere Mission:<br/>Keinen Schüler zurücklassen</h1>
  </div>
  <div class="col-10">
    <p class="lead">
      Seit dem 16. März 2020 sind Schulen in Deutschland geschlossen. Ca. 11
      Millionen Schüler befinden sich zu Hause und sind gezwungen den
      Lernstoff zum Großteil selbst zu erarbeiten. <br class="d-block d-sm-none"><br class="d-block d-sm-none"> Wir
      möchten engagierte
      Menschen (Studierende, Berufstätige, Lehrende, Pensionäre…) in
      Deutschland mit Schülern zusammenbringen. So können wir ihnen eine
      bestmögliche Hilfestellung anbieten und jedem Schüler in dieser Zeit
      die Hand reichen.
    </p>
  </div>
</div>
