<!-- TEAM -->
<div class="container my-5">
  <div class="row">
    <div class="col">
      <p>
        Mehr als 11 Millionen Schüler sind seit der Corona-Krise zwangsweise im
        “Home-Schooling”. Mit naklar.io wollen wir ehrenamtliche Tutoren mit
        diesen Schülern zusammenbringen und Ihnen per Knopfdruck Fragen
        beantworten. Seit dem #wirvsvirus Hackathons der Bundesregierung
        arbeitet unser Team daher an diesem Projekt.
      </p>
    </div>
  </div>

  <div class="spacer"></div>

  <div class="row">
    <div class="col-sm-6">
      <div class="my-5 mx-5">
        <img
          src="assets/img/team/group_picture.jpg"
          alt="team image"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="col-sm-6 align-self-center">
      <h4 class="primary-color">Das Team</h4>
      <p class="lead">
        Das Team hinter naklar.io - engagiert und motiviert! Wir sind ein
        siebenköpfiges Team von Studenten, die Schülern in dieser Zeit mit
        der richtigen Unterstützung unter die Arme greifen.
      </p>
    </div>
  </div>

  <div class="spacer"></div>

  <div class="row">
    <div class="col">
      <h2 class="primary-color">Die “BWLer”</h2>
      <p>
        Iris Stierlen, Sebastian Scott und Thomas Wunderlich sind die BWLer bei
        uns im Team. Sie kümmern sich unter anderem um die Prozesse, Texte,
        Rechtliches und Design im Frontend und stehen den Nutzern und
        Nutzerinnen als Ansprechpartner zur Verfügung.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="primary-color">Die “Techies”</h2>
      <p>
        Unsere Techis, Korbinian Stein, Vera K., Max Frühauf und Julian Rixner
        kümmern sich bei uns um die technische Umsetzung. Sie sind dafür
        Verantwortlich, dass unsere Plattform für die Nutzer und Nutzerinnen so
        flüssig und einfach funktioniert.
      </p>
    </div>
  </div>
</div>
