<div class="container">
  <div class="row my-5">
    <div class="col-6 col-md">
      <h1 class="primary-color">
        Frage deien Tutor auf Knopfdruck. <br />Kostenlos.
      </h1>
      <p class="lead">
        Wir lassen Schüler*innen nicht im Stich. Wir bringen sie mit geprüften
        Tutor*innen zusammen und unterstützen so unsere zukünftige Generation
        während des Schulausfalls!
      </p>

      <div *ngIf="!emailFormSubmitted">
        <h3>Wir melden uns, sobald wir startklar sind:</h3>
        <form
          [formGroup]="emailForm"
          (ngSubmit)="onEmailFormSubmit()"
          class="form-group"
          novalidate
        >
          <div class="my-1">
            <div class="form-check form-check-inline">
              <input
                type="radio"
                formControlName="type"
                value="ST"
                class="form-check-input"
              />
              <label class="form-check-label">Schüler*in</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                type="radio"
                formControlName="type"
                value="TU"
                class="form-check-input"
              />
              <label class="form-check-label">Tutor*in</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                type="radio"
                formControlName="type"
                value="PA"
                class="form-check-input"
              />
              <label class="form-check-label">Elternteil</label>
            </div>
          </div>

          <div class="py-1">
            <input
              type="text"
              formControlName="email"
              placeholder="Deine Email (wir melden uns zum Start)"
              class="form-control"
              [ngClass]="
                emailForm.controls.email.touched &&
                emailForm.controls.email.errors
                  ? 'is-invalid'
                  : ''
              "
            />
            <div
              *ngIf="
                emailForm.controls.email.errors &&
                emailForm.controls.email.errors.backend
              "
              class="invalid-feedback"
            >
              {{ emailForm.controls.email.errors.backend }}
            </div>
          </div>
          <div class="form-check my-1">
            <input
              type="checkbox"
              formControlName="updates"
              class="form-check-input"
            />
            <label class="form-check-label"
              >Ja, sendet mit Updates zu naklar.io*</label
            >
          </div>
          <button class="btn btn-primary my-1" type="submit">
            Sei einer der ersten!
          </button>
        </form>
      </div>
      
      <div *ngIf="emailFormSubmitted && emailForm.valid" class="text-center">
        <h3 class="primary-color">Vielen Dank!</h3>
        <p>Wir haben deine Email erhalten</p>
        <p class="lead">Ganz wichtig:
          Teile unsere Seite mit weiterten Bekannten und Freunden. So können wir wirklich was bewegen.
        </p>
        <p>Dein naklar.io Team</p>
        <p >Dein Zugang zu motivierten Tutoren</p>
      </div>

    </div>

    <div class="col-6 col-md">
      <img
        src="assets/img/showcase.png"
        alt="naklar.io Produkt Showcase"
        class="img-fluid"
      />
      <div class="py-5 text-center">
        <h3 class="primary-color">Eine Initiative von:</h3>
        <img
          src="assets/img/partners/wirvsvirus.jpg"
          alt="wirvisvirus logo"
          class="img-fluid"
          style="width: 75%;"
        />
      </div>
    </div>
  </div>
</div>

<hr />

<!-- FEATURES -->
<div class="container">
  <div class="row my-5">
    <div class="col-6 col-md text-center">
      <h2 class="primary-color">Fragen auf Knopfdruck</h2>
      <p>
        Eine Vielzahl an engagierten Tutor*innen steht jederzeit für Dich auf
        Knopfdruck zur Verfügung. Probiere es gleich aus und stelle Deine Frage!
      </p>
    </div>
    <div class="col-6 col-md text-center">
      <h2 class="primary-color">Für jeden zugänglich</h2>
      <p>
        Jeder kann helfen. Und helfen kann so einfach sein! Engagierte können
        ganz einfach Tutor werden und in ihren verfügbaren Zeiten flexibel
        Schüler*innen helfen. Der kostenlose Zugang ermöglicht Schülerinnen und
        Schülern per Knopfdruck auf Tutor*innen zuzugreifen und bequem ihre
        Fragen zu stellen.
      </p>
    </div>
    <div class="col-6 col-md text-center">
      <h2 class="primary-color">Geprüfte Tutor*innen</h2>
      <p>
        Sicherheit und Vertrauen sind wichtig. Unser Tutor*innen werden einzeln
        überprüft und mithilfe eines Bewertungssystems kontrolliert.
      </p>
    </div>
  </div>

  <hr />

  <!-- VIDEO -->
  <div class="row justify-content-center my-5">
    <div class="col-9 text-center">
      <h3 class="my-3">naklar.io kurz erklärt!</h3>
      <iframe
        width="782"
        height="440"
        src="https://www.youtube.com/embed/nCtjwHyj0OU"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>

<!-- PARTNERS -->
<div class=".mx-auto px-0">
  <div class="row py-5 bg-gradient-primary">
    <div class="col text-center">
      <h3>Eine Initiative von:</h3>
      <img
        src="assets/img/partners/wirvsvirus.jpg"
        alt="WirVsVirus hackathon logo"
        class="img-fluid"
      />
    </div>
  </div>
</div>

<div class="container">
  <!-- MISSION -->
  <div class="row justify-content-center my-5">
    <div class="col-10 text-center">
      <h1>Unsere Mission:<br />Keinen Schüler zurücklassen</h1>
      <p class="lead">
        Seit dem 16. März 2020 sind Schulen in Deutschland geschlossen. Ca. 11
        Millionen Schüler*innen befinden sich zu Hause und sind gezwungen den
        Lernstoff zum Großteil selbst zu erarbeiten. Wir möchten engagierte
        Menschen (Studierende, Berufstätige, Lehrende, Pensionäre…) in
        Deutschland mit Schüler*innen zusammenbringen. So können wir ihnen eine
        bestmögliche Hilfestellung anbieten und jedem Schüler*in in dieser Zeit
        die Hand reichen.
      </p>
    </div>
  </div>
</div>

<!-- NUMBERS -->
<div class="mx-auto px-0 bg-gray" style="color:rgb(122, 122, 122);">
  <div class="row text-center py-3">
    <div class="col">
      <h3>
        Die Zahl an Interessierten Schüler*innen & <br />Tutor*innen wächst
        täglich.
      </h3>
    </div>
  </div>
  <div class="row text-center py-5">
    <div class="col-6 col-md">
      <pre class="display-3">12</pre>
      <p class="lead">Fächer</p>
    </div>
    <div class="col-6 col-md">
      <pre class="display-3">382</pre>
      <p class="lead">Tutor*innen</p>
    </div>
    <div class="col-6 col-md">
      <pre class="display-3">1,829</pre>
      <p class="lead">Schüler*innen</p>
    </div>
  </div>
</div>

<!-- TEAM -->
<div class="container my-5">
  <div class="row">
    <div class="col-6">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-3">
            <img src="assets/img/team/max.jpg" alt="Max" class="team-img" />
          </div>
          <div class="col-3">
            <img
              src="assets/img/team/korbinian.jpg"
              alt="Korbinian"
              class="team-img"
            />
          </div>
          <div class="col-3">
            <img src="assets/img/team/iris.jpg" alt="Iris" class="team-img" />
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-4">
            <img
              src="assets/img/team/thomas.jpg"
              alt="Thomas"
              class="team-img"
            />
          </div>
          <div class="col-4">
            <img src="assets/img/team/vera.jpg" alt="Vera" class="team-img" />
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-4">
            <img
              src="assets/img/team/julian.jpg"
              alt="Julian"
              class="team-img"
            />
          </div>
          <div class="col-4">
            <img
              src="assets/img/team/sebastian.jpg"
              alt="Iris"
              class="team-img"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 align-self-center">
      <p class="lead">
        Das Team hinter naklar.io – engagiert und motiviert, Schüler*innen in
        dieser Zeit mit der richtigen Unterstützung unter die Arme zu greifen.
      </p>
      <h4 class="primary-color">Das Team</h4>
    </div>
  </div>
</div>

<!-- FOOTER -->
<hr />
<div class="container my-5">
  <div class="row">
    <div class="col-12 col-md">
      <a href="#">
        <img
          src="assets/img/Logo.png"
          alt="naklar.io logo"
          class="img-fluid"
          style="width:150px;"
        />
      </a>
      <pre>copyright?</pre>
    </div>
    <div class="col-6 col-md">
      <h5>Produkt</h5>
      <ul class="list-unstyled text-small">
        <li><a href="#" class="text-muted">Lehrer</a></li>
        <li><a href="#" class="text-muted">Schüler</a></li>
        <li><a href="#" class="text-muted">Eltern</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Ressourcen</h5>
      <ul class="list-unstyled text-small">
        <li><a href="#" class="text-muted">Hilfe & Support</a></li>
        <li><a href="#" class="text-muted">Feedback</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Unternehmen</h5>
      <ul class="list-unstyled text-small">
        <li><a href="#" class="text-muted">Impressum</a></li>
        <li><a href="#" class="text-muted">Datenschutz</a></li>
        <li><a href="#" class="text-muted">Über uns</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Mehr</h5>
      <ul class="list-unstyled text-small">
        <li><a href="#" class="text-muted">Partner</a></li>
        <li><a href="#" class="text-muted">Förderung</a></li>
      </ul>
    </div>
  </div>
</div>
