<div class="container">
  <div class="row my-5">
    <div class="col-6 col-md">
      <h1>Frage deien Tutor auf Knopfdruck. <br />Kostenlos.</h1>
      <p>
        Wir lassen Schüler*innen nicht im Stich. Wir bringen sie mit geprüften
        Tutor*innen zusammen und unterstützen so unsere zukünftige Generation
        während des Schulausfalls!
      </p>
      <h2>Wir melden uns, sobald wir startklar sind:</h2>
      <form action="">
        <input type="email" name="" id="" />
        <button class="btn btn-primary" type="submit">
          Einer der ersten sein!
        </button>
      </form>
    </div>
    <div class="col-6 col-md">
      <img
        src="assets/img/showcase.png"
        alt="naklar.io Produkt Showcase"
        class="img-fluid"
      />
    </div>
  </div>
</div>
<div></div>

<!-- FEATURES -->
<div class="container">
  <div class="row my-5">
    <div class="col-6 col-md text-center">
      <h2>Fragen auf Knopfdruck</h2>
      <p>
        Eine Vielzahl an engagierten Tutor*innen steht jederzeit für Dich auf
        Knopfdruck zur Verfügung. Probiere es gleich aus und stelle Deine Frage!
      </p>
    </div>
    <div class="col-6 col-md text-center">
      <h2>Für jeden zugänglich</h2>
      <p>
        Jeder kann helfen. Und helfen kann so einfach sein! Engagierte können
        ganz einfach Tutor werden und in ihren verfügbaren Zeiten flexibel
        Schüler*innen helfen. Der kostenlose Zugang ermöglicht Schülerinnen und
        Schülern per Knopfdruck auf Tutor*innen zuzugreifen und bequem ihre
        Fragen zu stellen.
      </p>
    </div>
    <div class="col-6 col-md text-center">
      <h2>Geprüfte Tutor*innen</h2>
      <p>
        Sicherheit und Vertrauen sind wichtig. Unser Tutor*innen werden einzeln
        überprüft und mithilfe eines Bewertungssystems kontrolliert.
      </p>
    </div>
  </div>

  <!-- VIDEO -->
  <div class="row justify-content-center my-5">
    <div class="col-9 text-center">
      <h3>naklar.io kurz erklärt!</h3>
      <iframe
        width="782"
        height="440"
        src="https://www.youtube.com/embed/nCtjwHyj0OU"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <!-- PARTNERS -->
  <div class="row my-5">
    <div class="col text-center">
      <h3>Eine Initiative von:</h3>
      <img
        src="assets/img/partners/wirvsvirus.jpg"
        alt="WirVsVirus hackathon logo"
        class="img-fluid"
      />
    </div>
  </div>

  <!-- MISSION -->
  <div class="row justify-content-center my-5">
    <div class="col-10 text-center">
      <h1>Unsere Mission:<br />Keinen Schüler zurücklassen</h1>
      <p>
        Seit dem 16. März 2020 sind Schulen in Deutschland geschlossen. Ca. 11
        Millionen Schüler*innen befinden sich zu Hause und sind gezwungen den
        Lernstoff zum Großteil selbst zu erarbeiten. Wir möchten engagierte
        Menschen (Studierende, Berufstätige, Lehrende, Pensionäre…) in
        Deutschland mit Schüler*innen zusammenbringen. So können wir ihnen eine
        bestmögliche Hilfestellung anbieten und jedem Schüler*in in dieser Zeit
        die Hand reichen.
      </p>
    </div>
  </div>
</div>

<!-- NUMBERS -->
<div
  class="container"
  style="background-color:#f4f4f4; color:rgb(122, 122, 122);"
>
  <div class="row text-center py-3">
    <div class="col">
      <h3>
        Die Zahl an Interessierten Schüler*innen & <br />Tutor*innen wächst
        täglich.
      </h3>
    </div>
  </div>
  <div class="row text-center py-5">
    <div class="col-6 col-md">
      <pre>12</pre>
      <p>Fächer</p>
    </div>
    <div class="col-6 col-md">
      <pre>382</pre>
      <p>Tutor*innen</p>
    </div>
    <div class="col-6 col-md">
      <pre>1,829</pre>
      <p>Schüler*innen</p>
    </div>
  </div>
</div>

<!-- TEAM -->
<style>
  .team-img {
    max-width: 125px;
    max-height: 100%;
    filter: grayscale(100%);
  }
</style>
<div class="contianer my-5">
  <div class="row">
    <div class="col-6">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-3">
            <img src="assets/img/team/max.jpg" alt="Max" class="team-img" />
          </div>
          <div class="col-3">
            <img
              src="assets/img/team/korbinian.jpg"
              alt="Korbinian"
              class="team-img"
            />
          </div>
          <div class="col-3">
            <img src="assets/img/team/iris.jpg" alt="Iris" class="team-img" />
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-4">
            <img
              src="assets/img/team/thomas.jpg"
              alt="Thomas"
              class="team-img"
            />
          </div>
          <div class="col-4">
            <img src="assets/img/team/vera.jpg" alt="Vera" class="team-img" />
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-4">
            <img
              src="assets/img/team/julian.jpg"
              alt="Julian"
              class="team-img"
            />
          </div>
          <div class="col-4">
            <img
              src="assets/img/team/sebastian.jpg"
              alt="Iris"
              class="team-img"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 align-self-center">
      <p>
        Das Team hinter naklar.io – engagiert und motiviert, Schüler*innen in
        dieser Zeit mit der richtigen Unterstützung unter die Arme zu greifen.
      </p>
      <h4>Das Team</h4>
    </div>
  </div>
</div>

<!-- FOOTER -->
<div class="contianer my-5">
  <div class="row">
    <div class="col-12 col-md">
      <pre>Naklar.io logo</pre>
      <pre>copyright?</pre>
    </div>
    <div class="col-6 col-md">
      <h5>Produkt</h5>
      <ul class="list-unstyled text-small">
        <li><a href="#" class="text-muted">Lehrer</a></li>
        <li><a href="#" class="text-muted">Schüler</a></li>
        <li><a href="#" class="text-muted">Eltern</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Ressourcen</h5>
      <ul class="list-unstyled text-small">
        <li><a href="#" class="text-muted">Hilfe & Support</a></li>
        <li><a href="#" class="text-muted">Feedback</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Unternehmen</h5>
      <ul class="list-unstyled text-small">
        <li><a href="#" class="text-muted">Impressum</a></li>
        <li><a href="#" class="text-muted">Datenschutz</a></li>
        <li><a href="#" class="text-muted">Über uns</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Mehr</h5>
      <ul class="list-unstyled text-small">
        <li><a href="#" class="text-muted">Partner</a></li>
        <li><a href="#" class="text-muted">Förderung</a></li>
      </ul>
    </div>
  </div>
</div>
