<div class="container">
  <h2 class="c17" id="h.3yhu2eelhrde"><span class="c18">Datenschutz</span></h2>
  <p class="c0">
    <span class="c1"
      >Die goodgrade GmbH &amp; Co. KG nimmt den Schutz Ihrer Daten sehr ernst.
      Der Schutz Ihrer Daten ist für uns von höchster Bedeutung, weshalb die
      Einhaltung der datenschutzrechtlichen Vorschriften für uns eine
      Selbstverständlichkeit ist.</span
    >
  </p>
  <p class="c0">
    <span class="c1"
      >Verantwortliche Stelle für die Erhebung, Verarbeitung und Nutzung Ihrer
      personenbezogenen Daten im Sinne der Datenschutz-Grundverordnung („DSGVO“)
      und des Bundesdatenschutzgesetzes („BDSG (neu)“) ist die goodgrade GmbH
      &amp; Co. KG, Mühlfeldstraße 21, 82152 Planegg (nachfolgend “goodgrade“).
    </span>
  </p>
  <p class="c0">
    <span class="c1"
      >Der Datenschutzbeauftragte der verantwortlichen Stelle ist Hans-Dieter
      Wunderlich, Mühlfeldstraße 21, 82152 Planegg, Telefon: 089 / 614 24 22-50,
      E-Mail-Adresse: wunderlich@goodgrade.de.
    </span>
  </p>
  <p class="c0">
    <span class="c1"
      >Sofern Sie der Erhebung, Verarbeitung oder Nutzung Ihrer Daten durch
      goodgrade nach Maßgabe dieser Datenschutzbestimmungen insgesamt oder für
      einzelne Maßnahmen widersprechen wollen, können Sie Ihren Widerspruch per
      E-Mail, Fax oder Brief an folgende Kontaktdaten senden:</span
    >
  </p>
  <p class="c0"><span class="c1">goodgrade GmbH &amp; Co. KG </span></p>
  <p class="c0"><span class="c1">Mühlfeldstraße 21 </span></p>
  <p class="c0"><span class="c1">82152 Planegg </span></p>
  <p class="c0 c16"><span class="c1"></span></p>
  <p class="c0"><span class="c1">Telefax: 089 / 614 24 22-99 </span></p>
  <p class="c0"><span class="c1">E-Mail: service(at)goodgrade.de</span></p>
  <p class="c2"><span class="c15"></span></p>
  <p class="c0">
    <span class="c1"
      >Nach Erhalt Ihres Widerspruchs werden wir die betroffenen Daten nicht
      mehr zu anderen Zwecken als zur Abwicklung der abgeschlossenen Verträge
      nutzen, verarbeiten und übermitteln und werden auch die weitere Versendung
      von Werbemitteln an Sie einstellen.
    </span>
  </p>
  <p class="c0">
    <span class="c1"
      >Die in der Datenschutzerklärung unter „Webanalyse“ beschriebene
      Datennutzung kann nur mit den dort aufgeführten Maßnahmen deaktiviert
      werden.</span
    >
  </p>
  <p class="c0">
    <span class="c1"
      >Sie können von uns jederzeit unentgeltlich Auskunft über Ihre von uns
      gespeicherten personenbezogenen Daten verlangen. Außerdem sind Sie
      berechtigt, diese Daten bei Bedarf zu berichtigen oder vervollständigen zu
      lassen, sollten sich diese als unrichtig oder unvollständig erweisen und
      ferner ggf., sofern die jeweiligen Voraussetzungen gegeben sind, von Ihrem
      Recht auf Einschränkung der Verarbeitung Ihrer Daten Gebrauch zu machen
      oder die Löschung Ihrer personenbezogenen Daten zu fordern. Dies gilt
      nicht, sofern eine Speicherung aufgrund gesetzlicher Vorschriften
      vorgegeben ist. Ihre Anfrage ist auch in diesem Fall per E-Mail, Fax oder
      Brief an folgende Kontaktdaten zu senden:</span
    >
  </p>
  <p class="c0"><span class="c1">goodgrade GmbH &amp; Co. KG</span></p>
  <p class="c0"><span class="c1">Mühlfeldstraße 21</span></p>
  <p class="c0"><span class="c1">82152 Planegg</span></p>
  <p class="c0 c16"><span class="c1"></span></p>
  <p class="c0"><span class="c1">Telefax: 089 / 614 24 22-99 </span></p>
  <p class="c0"><span class="c1">E-Mail: service(at)goodgrade.de</span></p>
  <p class="c2"><span class="c15"></span></p>
  <p class="c0">
    <span class="c1"
      >Nachfolgend erhalten Sie Information über die Verwendung der Daten auf
      www.goodgrade.de.</span
    >
  </p>
  <h2 class="c17" id="h.bm3wngzays8m">
    <span class="c18">Allgemeine Datenschutzhinweise</span>
  </h2>
  <h4 class="c8" id="h.1v8583upcy7u">
    <span class="c12">1. Erhebung von Daten</span>
  </h4>
  <p class="c0">
    <span class="c1"
      >Sie können die Website jederzeit besuchen, ohne aktiv Angaben zu Ihrer
      Person zu machen.</span
    >
  </p>
  <p class="c0">
    <span class="c1"
      >Zur Erbringung der Leistungen von goodgrade ist es notwendig, dass
      goodgrade ihr anvertraute personenbezogene Daten von Kunden sowie der
      Nachhilfeschüler unter Beachtung dieser Datenschutzbestimmungen erhebt,
      speichert, verarbeitet und nutzt. Dies erfolgt jedoch nur, soweit die
      DSGVO, das BDSG (neu) oder eine andere Rechtsvorschrift dies erlaubt oder
      anordnet und Sie eingewilligt haben. Diese Einwilligung wird von goodgrade
      protokolliert.</span
    >
  </p>
  <h4 class="c8" id="h.slo8q1l2oabn">
    <span class="c12">2. Personenbezogene Daten</span>
  </h4>
  <p class="c0">
    <span class="c1"
      >Personenbezogene Daten sind Angaben, wie z.B. Name, Anschrift,
      Telefonnummer und E-Mail-Adresse, die Ihrer Person oder den
      Nachhilfeschülern zugeordnet werden können.</span
    >
  </p>
  <h4 class="c8" id="h.dkhmcy798nql">
    <span class="c12">3. Weitergabe personenbezogener Daten an Dritte</span>
  </h4>
  <p class="c0">
    <span class="c1"
      >Die goodgrade GmbH &amp; Co. KG wird Ihre personenbezogenen Daten
      vertraulich behandeln. Eine Weitergabe an Dritte erfolgt nur, sofern wir
      gesetzlich dazu verpflichtet sind oder wir für die Verarbeitung Ihrer
      Informationen einen externen Dienstleister beauftragen. Ein Beispiel
      hierfür ist der Versand von Briefen oder E-Mails. Diese Dienstleister
      erhalten nur die Informationen, die zur Erfüllung ihrer Aufgaben benötigt
      werden. Sie dürfen diese nicht zu anderen Zwecken verwenden und sind
      verpflichtet, die Informationen gemäß der DSGVO und des
      Bundesdatenschutzgesetzes zu behandeln. Wir schließen zudem mit jedem
      Partner entsprechende Vertraulichkeitsvereinbarungen und ggf.
      Auftragsdatenverarbeitungsverträge ab. In allen anderen Fällen werden wir
      Sie darüber informieren, wenn persönliche Informationen an Dritte
      weitergegeben werden sollen, und Ihnen so die Möglichkeit geben, Ihre
      Einwilligung zu erteilen. Sie haben jederzeit das Recht, eine erteilte
      Einwilligung mit Wirkung für die Zukunft zu widerrufen (siehe oben). Die
      Rechtsmäßigkeit der bis zum Widerruf erfolgten Verarbeitungen bleibt
      hiervon unberührt. Die Löschung der gespeicherten personenbezogenen Daten
      erfolgt, wenn Sie Ihre Einwilligung zur Speicherung widerrufen, wenn deren
      Kenntnis zur Erfüllung des mit der Speicherung verfolgen Zwecks nicht mehr
      erforderlich ist oder deren Speicherung aus sonstigen gesetzlichen Gründen
      unzulässig ist oder wird.</span
    >
  </p>
  <p class="c0">
    <span class="c1"
      >Zur Abwicklung von Zahlungen leiten wir Ihre Zahlungsdaten (z.B. Vorname,
      Name, E- Mail-Adresse) an das mit der Zahlung beauftragte Kreditinstitut
      bzw. PAYMILL oder an sonstige Zahlungsdienstleister weiter. Wir speichern
      keine Kreditkartendaten. Ihre Kreditkatendaten werden jedoch vom
      Kreditinstitut, PAYMILL oder sonstigen bei der Zahlungsabwicklung
      beauftragten Zahlungsdienstleistern erhoben und verarbeitet.</span
    >
  </p>
  <p class="c0">
    <span class="c1"
      >Schließlich werden wir Ihre Daten nur gemäß der bestehenden
      Datenschutzgesetze an Dritte oder staatliche Stellen weitergeben, insoweit
      wie wir rechtlich verpflichtet oder berechtigt sind.</span
    >
  </p>
  <h4 class="c8" id="h.zbaabq8ch2r0"><span class="c12">Webanalyse</span></h4>
  <p class="c0">
    <span class="c1"
      >Wir verwenden Google Analytics, um die Website-Nutzung zu analysieren.
      Die daraus gewonnenen Daten werden genutzt, um unsere Internetseite sowie
      Werbemaßnahmen zu optimieren gemäß Art. 6, Abs. 1, lit. f DSGVO. Google
      Analytics ist ein Webanalysedienst, der von Google Inc. (1600 Amphitheatre
      Parkway, Mountain View, CA 94043, United States) betrieben und
      bereitgestellt wird. Google verarbeitet die Daten zur Website-Nutzung in
      unserem Auftrag und verpflichtet sich vertraglich zu Maßnahmen, um die
      Vertraulichkeit der verarbeiteten Daten zu gewährleisten. Während Ihres
      Besuchs unserer Internetseite werden u.a. folgende Daten
      aufgezeichnet:</span
    >
  </p>
  <ul class="c5 lst-kix_tl5uxt7qc5pa-0 start">
    <li class="c4"><span class="c1">Aufgerufene Seiten,</span></li>
    <li class="c4">
      <span class="c1"
        >Bestellungen inkl. des Umsatzes und der bestellten Produkte,</span
      >
    </li>
    <li class="c4">
      <span class="c1"
        >Ihr Verhalten auf den Seiten (beispielsweise Klicks, Scroll-Verhalten
        und Verweildauer),</span
      >
    </li>
    <li class="c4">
      <span class="c1">Ihr ungefährer Standort (Land und Stadt),</span>
    </li>
    <li class="c4">
      <span class="c1"
        >Ihre IP-Adresse (in gekürzter Form, sodass keine eindeutige Zuordnung
        möglich ist),</span
      >
    </li>
    <li class="c4">
      <span class="c1"
        >Technische Informationen wie Browser, Internetanbieter, Endgerät und
        Bildschirmauflösung,</span
      >
    </li>
    <li class="c4">
      <span class="c1"
        >Herkunftsquelle Ihres Besuchs (d.h. über welche Website bzw. über
        welches Werbemittel Sie zu uns gekommen sind).</span
      >
    </li>
  </ul>
  <p class="c0">
    <span class="c1"
      >Diese Daten werden an einen Server von Google in den USA übertragen.
      Google beachtet dabei die Datenschutzbestimmungen des
      „US-Safe-Harbor“-Abkommens. Google Analytics speichert Cookies in Ihrem
      Webbrowser für die Dauer von zwei Jahren seit Ihrem letzten Besuch. Diese
      Cookies enthalten eine zufallsgenerierte User-ID, mit der Sie bei
      zukünftigen Website-Besuchen wiedererkannt werden können.</span
    >
  </p>
  <p class="c0">
    <span class="c3"
      >Die aufgezeichneten Daten werden zusammen mit der zufallsgenerierten
      User-ID gespeichert, was die Auswertung pseudonymer Nutzerprofile
      ermöglicht. Diese nutzerbezogenen Daten werden automatisch nach 14 Monaten
      gelöscht. Sonstige Daten bleiben in aggregierter Form unbefristet
      gespeichert. Weitere Informationen hierzu finden Sie in
      Datenschutzerklärung von Google: </span
    ><span class="c3 c13"
      ><a
        class="c10"
        href="https://www.google.com/url?q=https://policies.google.com/&amp;sa=D&amp;ust=1586376273974000"
        >https://policies.google.com/</a
      ></span
    ><span class="c1">.</span>
  </p>
  <p class="c11">
    <span class="c3 c9"
      >Sollten Sie mit der Erfassung nicht einverstanden sein, können Sie diese
      mit der einmaligen Installation des Browser-Add-ons zur Deaktivierung von
      Google Analytics unterbinden: </span
    ><span class="c3 c13"
      ><a
        class="c10"
        href="https://www.google.com/url?q=https://tools.google.com/dlpage/gaoptout?hl%3Dde&amp;sa=D&amp;ust=1586376273974000"
        >https://tools.google.com/dlpage/gaoptout?hl=de</a
      ></span
    ><span class="c1 c9">.</span>
  </p>
  <h4 class="c8" id="h.ep7smydth5ot">
    <span class="c12">Nutzung von Facebook Website Custom Audiences</span>
  </h4>
  <p class="c0">
    <span class="c1"
      >Um unsere Internetseite sowie Werbemaßnahmen zu optimieren wird auf
      unserer Seite der „Website Custom Audiences“ Pixel des sozialen Netzwerks
      Facebook, 1601 South California Avenue, Palo Alto, CA 94304, USA gemäß
      Art. 6, Abs. 1, lit. f DSGVO genutzt. Hierbei wird ein Zählpixel zur
      Identifizierung der Website-Besucher verwendet.</span
    >
  </p>
  <p class="c0">
    <span class="c1"
      >Über diesen Zählpixel wird bei einem Besuch unserer Seiten eine direkte
      Verbindung zwischen dem Browser und dem Facebook-Server hergestellt.
      Hierdurch erhält Facebook die Information, dass Sie mit Ihrer IP-Adresse
      unsere Website besucht haben. Facebook kann dann den Besuch unserer Seiten
      Ihrem Benutzerkonto zuordnen und diese Informationen für die Anzeige von
      Facebook Ads nutzen. Wir haben als Anbieter der Seiten keine Kenntnis vom
      Inhalt der übermittelten Daten sowie deren Nutzung durch Facebook.</span
    >
  </p>
  <p class="c0">
    <span class="c3"
      >Weitere Informationen hierzu finden Sie in Datenschutzerklärung von
      Facebook: </span
    ><span class="c3 c13"
      ><a
        class="c10"
        href="https://www.google.com/url?q=https://www.facebook.com/about/privacy/&amp;sa=D&amp;ust=1586376273975000"
        >https://www.facebook.com/about/privacy/</a
      ></span
    ><span class="c1">.</span>
  </p>
  <p class="c0">
    <span class="c3"
      >Selbstverständlich können Sie die Datenerfassung via Custom Audience
      deaktivieren. Hierzu klicken Sie bitte auf folgenden Link: </span
    ><span class="c3 c13"
      ><a
        class="c10"
        href="https://www.google.com/url?q=https://www.facebook.com/ads/website_custom_audiences/&amp;sa=D&amp;ust=1586376273975000"
        >https://www.facebook.com/ads/website_custom_audiences/</a
      ></span
    ><span class="c1">.</span>
  </p>
  <h4 class="c8" id="h.5sb2clhkmbu1">
    <span class="c12">Nutzung des Messengers WhatsApp</span>
  </h4>
  <p class="c0">
    <span class="c1"
      >Wir bieten Besuchern unserer Webseite die Möglichkeit, mit uns über den
      Nachrichtendienst WhatsApp der Facebook Inc., 1 Hacker Way, Menlo Park, CA
      94025, USA in Kontakt zu treten. Hierfür verwenden wir die sog.
      „Business-Version“ von WhatsApp.</span
    >
  </p>
  <p class="c0">
    <span class="c1"
      >Mit dem Versenden einer Startnachricht an goodgrade (nachfolgend
      Versender) erklären Sie sich gemäß Art. 6 Abs.1 lit. a DSGVO damit
      einverstanden, dass der Versender Ihre personenbezogenen Daten (z.B. Name
      und Vorname, Telefonnummer, Messenger-ID, Profilbild, Nachrichten) zu der
      direkten Kommunikation und der dafür erforderlichen Datenverarbeitung
      unter Benutzung des WhatsApp-Messengers verwendet.
    </span>
  </p>
  <p class="c0">
    <span class="c3"
      >Zweck und Umfang der Datenerhebung und die weitere Verarbeitung und
      Nutzung der Daten durch Whatsapp sowie Ihre diesbezüglichen Rechte und
      Einstellungsmöglichkeiten zum Schutz Ihrer Privatsphäre entnehmen Sie
      bitte den Datenschutzhinweisen von WhatsApp: </span
    ><span class="c3 c13"
      ><a
        class="c10"
        href="https://www.google.com/url?q=https://www.whatsapp.com/legal?eea%3D1%26lang%3Dde&amp;sa=D&amp;ust=1586376273976000"
        >https://www.whatsapp.com/legal?eea=1&amp;lang=de</a
      ></span
    >
  </p>
  <p class="c0">
    <span class="c1"
      >Facebook Inc. mit Sitz in den USA ist für das us-europäische
      Datenschutzübereinkommen „Privacy Shield“ zertifiziert, welches die
      Einhaltung des in der EU geltenden Datenschutzniveaus gewährleistet.
      Weitere Informationen enthalten die obenstehenden Datenschutzrichtlinien
      des Messengers.</span
    >
  </p>
  <p class="c0">
    <span class="c1"
      >Mit dem Versenden einer Stopnachricht (z.B. „STOP“ ), werden Sie aus dem
      Verteiler ausgetragen und von dem Versender keine weiteren Nachrichten
      über den Messenger erhalten.
    </span>
  </p>
  <h4 class="c8" id="h.u3j7m7x1xlv"><span class="c12">LinkedIn</span></h4>
  <p class="c0">
    <span class="c1"
      >Um unsere Internetseite sowie Werbemaßnahmen zu optimieren, nutzen wir,
      gemäß Art. 6, Abs. 1, lit. f DSGVO, das Retargeting Tool sowie das
      Conversion-Tracking der LinkedIn Ireland, Wilton Plaza, Wilton Place,
      Dublin 2, Irland (“LinkedIn”). Zu diesem Zweck ist auf unserer Webseite
      das LinkedIn Insight Tag integriert, welches es LinkedIn ermöglicht,
      statistische, pseudonyme Daten über Ihren Besuch und die Nutzung unserer
      Website zu erheben und uns auf dieser Grundlage entsprechende aggregierte
      Statistiken zur Verfügung zu stellen. Es werden dabei in der Regel unter
      anderem folgende Angaben erfasst:</span
    >
  </p>
  <ul class="c5 lst-kix_j32uv1kfchbv-0 start">
    <li class="c11 c14">
      <span class="c1">LinkedIn User ID (Cookie ID)</span>
    </li>
    <li class="c11 c14"><span class="c1">IP Adresse</span></li>
    <li class="c11 c14">
      <span class="c1"
        >Metadaten des Website-Besuchs, wie bspw. Browser-Typ, besuchte
        Website</span
      >
    </li>
  </ul>
  <p class="c0">
    <span class="c1"
      >Außerdem dienen diese Angaben dazu, Ihnen interessenspezifische und
      relevante Angebote und Empfehlungen anzeigen zu können, nachdem Sie sich
      auf der Webseite über bestimmte Services, Informationen und Angebote
      informiert haben. Die diesbezüglichen Angaben werden in einem Cookie
      gespeichert.</span
    >
  </p>
  <p class="c0">
    <span class="c3"
      >Weitere Informationen zur Datenverarbeitung finden Sie in der
      Datenschutzerklärung von LinkedIn unter </span
    ><span class="c3 c13"
      ><a
        class="c10"
        href="https://www.google.com/url?q=https://www.linkedin.com/legal/privacy-policy&amp;sa=D&amp;ust=1586376273977000"
        >https://www.linkedin.com/legal/privacy-policy</a
      ></span
    >
  </p>
  <p class="c0">
    <span class="c3"
      >Wollen Sie dieses Tracking unterbinden, dann können Sie dafür den
      folgenden Link verwenden: </span
    ><span class="c3 c13"
      ><a
        class="c10"
        href="https://www.google.com/url?q=https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out&amp;sa=D&amp;ust=1586376273978000"
        >https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out</a
      ></span
    ><span class="c1">.</span>
  </p>
  <h4 class="c8" id="h.3yf72b6n4w46">
    <span class="c12">4. Server-Log-Files / IP-Adressen</span>
  </h4>
  <p class="c0">
    <span class="c1"
      >Bei jedem Zugriff auf die Seiten von goodgrade werden Nutzungsdaten durch
      den jeweiligen Internetbrowser übermittelt und in Protokolldateien
      (Server-Logfiles) gespeichert. Die dabei gespeicherten Datensätze
      enthalten die folgenden Daten: Datum und Uhrzeit des Abrufs, Name der
      aufgerufenen Seite, IP-Adresse, Referrer-URL (Herkunfts-URL, von der aus
      Sie auf die Webseiten gekommen sind), die übertragene Datenmenge, sowie
      Produkt und Versions-Informationen des verwendeten Browsers und
      Betriebssystems.</span
    >
  </p>
  <p class="c0">
    <span class="c1"
      >Die IP-Adressen der Nutzer werden nach Beendigung der Nutzung gelöscht
      oder anonymisiert.</span
    >
  </p>
  <h4 class="c8" id="h.mrbf534tkds"><span class="c12">5. Werbemail</span></h4>
  <p class="c0">
    <span class="c1"
      >Für den Versand von Werbemails verwenden wir das sogenannte Double
      Opt-In-Verfahren, d.h. wir werden Ihnen erst dann Werbung per E-Mail
      zusenden, wenn Sie uns zuvor ausdrücklich bestätigt haben, dass wir den
      Werbemail-Dienst aktivieren sollen. Wir werden Ihnen dann eine
      Benachrichtigungs-E-Mail zusenden und Sie bitten, durch das Anklicken
      eines in dieser E-Mail enthaltenen Links zu bestätigen, dass Sie unsere
      Werbemails erhalten möchten.</span
    >
  </p>
  <p class="c0">
    <span class="c1"
      >Sollten Sie keine Werbemails mehr von uns erhalten wollen, können Sie
      jederzeit durch eine formlose Mitteilung per E-Mail an
      service(at)goodgrade.de oder per FAX an 089 / 614 24 22 99 dem Erhalt der
      Werbemail widersprechen oder Sie nutzen den in jedem unserer Werbemail
      enthaltenen Abmeldelink.</span
    >
  </p>
  <h4 class="c8" id="h.yokqw7ie2ajs">
    <span class="c12">6. Kontaktformular</span>
  </h4>
  <p class="c0">
    <span class="c1"
      >Wenn Sie uns per Kontaktformular Anfragen zukommen lassen, werden Ihre
      Angaben aus dem Anfrageformular inklusive der von Ihnen dort angegebenen
      Kontaktdaten zwecks Bearbeitung der Anfrage bei uns gespeichert. Die Daten
      werden umgehend gelöscht sobald Ihre Anfrage beantwortet wurde und keine
      gesetzlichen Aufbewahrungspflichten bestehen. Eine Nutzung zu einem
      anderen Zweck oder eine Datenweitergabe findet ohne Ihre Einwilligung
      nicht statt.</span
    >
  </p>
  <h4 class="c8" id="h.olko1dct4fl"><span class="c12">7. Cookies</span></h4>
  <p class="c0">
    <span class="c1"
      >goodgrade setzt auf der Homepage sogenannte Cookies ein, welche auf Ihrem
      Computer als Datei gespeichert werden. Die gesammelten Daten werden dazu
      verwendet unser Angebot nutzerfreundlicher zu machen und somit so
      komfortabel wie möglich zu gestalten und um Werbemaßnahmen zu optimieren.
      Das Akzeptieren von Cookies ist nicht notwendig um unsere Webseite zu
      besuchen. Sie können Ihren Browser so einstellen, dass Sie über das Setzen
      von Cookies informiert werden und Cookies nur im Einzelfall erlauben, die
      Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie
      das automatische Löschen der Cookies beim Schließen des Browser
      aktivieren. Bei der Deaktivierung von Cookies kann die Funktionalität
      dieser Website eingeschränkt sein.</span
    >
  </p>
  <p class="c2"><span class="c15"></span></p>
</div>
