

    <h2 class="c16" id="h.3yhu2eelhrde">
      <span class="c17">Datenschutz</span>
    </h2>
    <p class="c3">
      <span class="c2"
        >Das Projekt naklar.io wurde ins Leben gerufen, um Sch&uuml;lern
        bestm&ouml;glich mit der Hilfe von ehrenamtlichen Tutoren in ganz
        Deutschland zu unterst&uuml;tzen. Der Schutz der Daten ist f&uuml;r die
        Plattform naklar.io und die goodgrade GmbH &amp; Co. KG sehr wichtig.
        Daher ist die Einhaltung der datenschutzrechtlichen Vorschriften
        f&uuml;r uns eine Selbstverst&auml;ndlichkeit.</span
      >
    </p>
    <p class="c3">
      <span class="c2"
        >Verantwortliche Stelle f&uuml;r die Erhebung, Verarbeitung und Nutzung
        Ihrer personenbezogenen Daten im Sinne der Datenschutz-Grundverordnung
        (&bdquo;DSGVO&ldquo;) und des Bundesdatenschutzgesetzes (&bdquo;BDSG
        (neu)&ldquo;) ist die goodgrade GmbH &amp; Co. KG,
        M&uuml;hlfeldstra&szlig;e 21, 82152 Planegg (nachfolgend
        &ldquo;goodgrade&ldquo;).
      </span>
    </p>
    <p class="c3">
      <span class="c2"
        >Der Datenschutzbeauftragte der verantwortlichen Stelle ist Sebastian
        Scott, M&uuml;hlfeldstra&szlig;e 21, 82152 Planegg, Telefon: 089 / 614
        24 22-50, E-Mail-Adresse: info@naklar.io.
      </span>
    </p>
    <p class="c3">
      <span class="c2"
        >Sofern Sie der Erhebung, Verarbeitung oder Nutzung Ihrer Daten durch
        goodgrade nach Ma&szlig;gabe dieser Datenschutzbestimmungen insgesamt
        oder f&uuml;r einzelne Ma&szlig;nahmen widersprechen wollen, k&ouml;nnen
        Sie Ihren Widerspruch per E-Mail, Fax oder Brief an folgende
        Kontaktdaten senden:</span
      >
    </p>
    <p class="c3"><span class="c2">goodgrade GmbH &amp; Co. KG </span></p>
    <p class="c3"><span class="c2">M&uuml;hlfeldstra&szlig;e 21 </span></p>
    <p class="c3"><span class="c2">82152 Planegg </span></p>
    <p class="c1"><span class="c2"></span></p>
    <p class="c8"><span class="c15"></span></p>
    <p class="c3">
      <span class="c2"
        >Nach Erhalt Ihres Widerspruchs werden wir die betroffenen Daten nicht
        mehr zu anderen Zwecken als zur Abwicklung der abgeschlossenen
        Vertr&auml;ge nutzen, verarbeiten und &uuml;bermitteln und werden auch
        die weitere Versendung von Werbemitteln an Sie einstellen.
      </span>
    </p>
    <p class="c3">
      <span class="c2"
        >Die in der Datenschutzerkl&auml;rung unter &bdquo;Webanalyse&ldquo;
        beschriebene Datennutzung kann nur mit den dort aufgef&uuml;hrten
        Ma&szlig;nahmen deaktiviert werden.</span
      >
    </p>
    <p class="c3">
      <span class="c2"
        >Sie k&ouml;nnen von uns jederzeit unentgeltlich Auskunft &uuml;ber Ihre
        von uns gespeicherten personenbezogenen Daten verlangen. Au&szlig;erdem
        sind Sie berechtigt, diese Daten bei Bedarf zu berichtigen oder
        vervollst&auml;ndigen zu lassen, sollten sich diese als unrichtig oder
        unvollst&auml;ndig erweisen und ferner ggf., sofern die jeweiligen
        Voraussetzungen gegeben sind, von Ihrem Recht auf Einschr&auml;nkung der
        Verarbeitung Ihrer Daten Gebrauch zu machen oder die L&ouml;schung Ihrer
        personenbezogenen Daten zu fordern. Dies gilt nicht, sofern eine
        Speicherung aufgrund gesetzlicher Vorschriften vorgegeben ist. Ihre
        Anfrage ist auch in diesem Fall per E-Mail, Fax oder Brief an folgende
        Kontaktdaten zu senden:</span
      >
    </p>
    <p class="c3"><span class="c2">Projekt Naklar.io</span></p>
    <p class="c3"><span class="c2">goodgrade GmbH &amp; Co. KG</span></p>
    <p class="c3"><span class="c2">M&uuml;hlfeldstra&szlig;e 21</span></p>
    <p class="c3"><span class="c2">82152 Planegg</span></p>
    <p class="c1"><span class="c2"></span></p>
    <p class="c8"><span class="c15"></span></p>
    <p class="c3">
      <span class="c2"
        >Nachfolgend erhalten Sie Information &uuml;ber die Verwendung der Daten
        auf www.naklar.io</span
      >
    </p>
    <h2 class="c16" id="h.bm3wngzays8m">
      <span class="c17">Allgemeine Datenschutzhinweise</span>
    </h2>
    <h4 class="c7" id="h.1v8583upcy7u">
      <span class="c4">1. Erhebung von Daten</span>
    </h4>
    <p class="c3">
      <span class="c2"
        >Sie k&ouml;nnen die Website jederzeit besuchen, ohne aktiv Angaben zu
        Ihrer Person zu machen.</span
      >
    </p>
    <p class="c3">
      <span class="c2"
        >Zur Erbringung der Leistungen von goodgrade ist es notwendig, dass
        goodgrade ihr anvertraute personenbezogene Daten von Tutoren sowie der
        Sch&uuml;ler unter Beachtung dieser Datenschutzbestimmungen erhebt,
        speichert, verarbeitet und nutzt. Dies erfolgt jedoch nur, soweit die
        DSGVO, das BDSG (neu) oder eine andere Rechtsvorschrift dies erlaubt
        oder anordnet und Sie eingewilligt haben. Diese Einwilligung wird von
        goodgrade protokolliert.</span
      >
    </p>
    <h4 class="c7" id="h.slo8q1l2oabn">
      <span class="c4">2. Personenbezogene Daten</span>
    </h4>
    <p class="c3">
      <span class="c2"
        >Personenbezogene Daten sind Angaben, wie z.B. Name, Anschrift,
        Telefonnummer und E-Mail-Adresse, die den Tutoren oder den Sch&uuml;lern
        zugeordnet werden k&ouml;nnen. Um die Sch&uuml;ler auf naklar.io
        bestm&ouml;glich zu Sch&uuml;tzen, erfordert die Registrierung als Tutor
        die Angabe eines Fotos und eines ausweisenden Dokumentes, damit
        naklar.io die Identit&auml;t der Tutoren &uuml;berpr&uuml;fen kann.
        naklar.io beh&auml;lt sich vor diese Dokumente zu speichern.</span
      >
    </p>
    <h4 class="c7" id="h.dkhmcy798nql">
      <span class="c4">3. Weitergabe personenbezogener Daten an Dritte</span>
    </h4>
    <p class="c3">
      <span class="c2"
        >Die goodgrade GmbH &amp; Co. KG wird Ihre personenbezogenen Daten
        vertraulich behandeln. Eine Weitergabe an Dritte erfolgt nur, sofern wir
        gesetzlich dazu verpflichtet sind oder wir f&uuml;r die Verarbeitung
        Ihrer Informationen einen externen Dienstleister beauftragen. Ein
        Beispiel hierf&uuml;r ist der Versand von Briefen oder E-Mails. Diese
        Dienstleister erhalten nur die Informationen, die zur Erf&uuml;llung
        ihrer Aufgaben ben&ouml;tigt werden. Sie d&uuml;rfen diese nicht zu
        anderen Zwecken verwenden und sind verpflichtet, die Informationen
        gem&auml;&szlig; der DSGVO und des Bundesdatenschutzgesetzes zu
        behandeln. Wir schlie&szlig;en zudem mit jedem Partner entsprechende
        Vertraulichkeitsvereinbarungen und ggf.
        Auftragsdatenverarbeitungsvertr&auml;ge ab. In allen anderen F&auml;llen
        werden wir Sie dar&uuml;ber informieren, wenn pers&ouml;nliche
        Informationen an Dritte weitergegeben werden sollen, und Ihnen so die
        M&ouml;glichkeit geben, Ihre Einwilligung zu erteilen. Sie haben
        jederzeit das Recht, eine erteilte Einwilligung mit Wirkung f&uuml;r die
        Zukunft zu widerrufen (siehe oben). Die Rechtsm&auml;&szlig;igkeit der
        bis zum Widerruf erfolgten Verarbeitungen bleibt hiervon unber&uuml;hrt.
        Die L&ouml;schung der gespeicherten personenbezogenen Daten erfolgt,
        wenn Sie Ihre Einwilligung zur Speicherung widerrufen, wenn deren
        Kenntnis zur Erf&uuml;llung des mit der Speicherung verfolgen Zwecks
        nicht mehr erforderlich ist oder deren Speicherung aus sonstigen
        gesetzlichen Gr&uuml;nden unzul&auml;ssig ist oder wird.</span
      >
    </p>
    <p class="c3">
      <span class="c2"
        >Schlie&szlig;lich werden wir Ihre Daten nur gem&auml;&szlig; der
        bestehenden Datenschutzgesetze an Dritte oder staatliche Stellen
        weitergeben, insoweit wie wir rechtlich verpflichtet oder berechtigt
        sind.</span
      >
    </p>
    <h4 class="c7" id="h.zbaabq8ch2r0"><span class="c4">Webanalyse</span></h4>
    <p class="c3">
      <span class="c2"
        >Wir verwenden Google Analytics, um die Website-Nutzung zu analysieren.
        Die daraus gewonnenen Daten werden genutzt, um unsere Internetseite
        sowie Werbema&szlig;nahmen zu optimieren gem&auml;&szlig; Art. 6, Abs.
        1, lit. f DSGVO. Google Analytics ist ein Webanalysedienst, der von
        Google Inc. (1600 Amphitheatre Parkway, Mountain View, CA 94043, United
        States) betrieben und bereitgestellt wird. Google verarbeitet die Daten
        zur Website-Nutzung in unserem Auftrag und verpflichtet sich vertraglich
        zu Ma&szlig;nahmen, um die Vertraulichkeit der verarbeiteten Daten zu
        gew&auml;hrleisten. W&auml;hrend Ihres Besuchs unserer Internetseite
        werden u.a. folgende Daten aufgezeichnet:</span
      >
    </p>
    <ul class="c10 lst-kix_tl5uxt7qc5pa-0 start">
      <li class="c12"><span class="c2">Aufgerufene Seiten,</span></li>
      <li class="c12">
        <span class="c2"
          >Bestellungen inkl. des Umsatzes und der bestellten Produkte,</span
        >
      </li>
      <li class="c12">
        <span class="c2"
          >Ihr Verhalten auf den Seiten (beispielsweise Klicks, Scroll-Verhalten
          und Verweildauer),</span
        >
      </li>
      <li class="c12">
        <span class="c2">Ihr ungef&auml;hrer Standort (Land und Stadt),</span>
      </li>
      <li class="c12">
        <span class="c2"
          >Ihre IP-Adresse (in gek&uuml;rzter Form, sodass keine eindeutige
          Zuordnung m&ouml;glich ist),</span
        >
      </li>
      <li class="c12">
        <span class="c2"
          >Technische Informationen wie Browser, Internetanbieter, Endger&auml;t
          und Bildschirmaufl&ouml;sung,</span
        >
      </li>
      <li class="c12">
        <span class="c2"
          >Herkunftsquelle Ihres Besuchs (d.h. &uuml;ber welche Website bzw.
          &uuml;ber welches Werbemittel Sie zu uns gekommen sind).</span
        >
      </li>
    </ul>
    <p class="c1"><span class="c2"></span></p>
    <p class="c3">
      <span class="c2"
        >Diese Daten werden an einen Server von Google in den USA
        &uuml;bertragen. Google beachtet dabei die Datenschutzbestimmungen des
        &bdquo;US-Safe-Harbor&ldquo;-Abkommens. Google Analytics speichert
        Cookies in Ihrem Webbrowser f&uuml;r die Dauer von zwei Jahren seit
        Ihrem letzten Besuch. Diese Cookies enthalten eine zufallsgenerierte
        User-ID, mit der Sie bei zuk&uuml;nftigen Website-Besuchen wiedererkannt
        werden k&ouml;nnen.</span
      >
    </p>
    <p class="c3">
      <span class="c6"
        >Die aufgezeichneten Daten werden zusammen mit der zufallsgenerierten
        User-ID gespeichert, was die Auswertung pseudonymer Nutzerprofile
        erm&ouml;glicht. Diese nutzerbezogenen Daten werden automatisch nach 14
        Monaten gel&ouml;scht. Sonstige Daten bleiben in aggregierter Form
        unbefristet gespeichert. Weitere Informationen hierzu finden Sie in
        Datenschutzerkl&auml;rung von Google: </span
      ><span class="c6 c9"
        ><a
          class="c5"
          href="https://www.google.com/url?q=https://policies.google.com/&amp;sa=D&amp;ust=1586780242114000"
          >https://policies.google.com/</a
        ></span
      ><span class="c2">.</span>
    </p>
    <p class="c14">
      <span class="c6 c11"
        >Sollten Sie mit der Erfassung nicht einverstanden sein, k&ouml;nnen Sie
        diese mit der einmaligen Installation des Browser-Add-ons zur
        Deaktivierung von Google Analytics unterbinden: </span
      ><span class="c6 c9"
        ><a
          class="c5"
          href="https://www.google.com/url?q=https://tools.google.com/dlpage/gaoptout?hl%3Dde&amp;sa=D&amp;ust=1586780242115000"
          >https://tools.google.com/dlpage/gaoptout?hl=de</a
        ></span
      ><span class="c2 c11">.</span>
    </p>
    <h4 class="c7" id="h.ep7smydth5ot">
      <span class="c4">Nutzung von Facebook Website Custom Audiences</span>
    </h4>
    <p class="c3">
      <span class="c2"
        >Um unsere Internetseite sowie Werbema&szlig;nahmen zu optimieren wird
        auf unserer Seite der &bdquo;Website Custom Audiences&ldquo; Pixel des
        sozialen Netzwerks Facebook, 1601 South California Avenue, Palo Alto, CA
        94304, USA gem&auml;&szlig; Art. 6, Abs. 1, lit. f DSGVO genutzt.
        Hierbei wird ein Z&auml;hlpixel zur Identifizierung der Website-Besucher
        verwendet.</span
      >
    </p>
    <p class="c3">
      <span class="c2"
        >&Uuml;ber diesen Z&auml;hlpixel wird bei einem Besuch unserer Seiten
        eine direkte Verbindung zwischen dem Browser und dem Facebook-Server
        hergestellt. Hierdurch erh&auml;lt Facebook die Information, dass Sie
        mit Ihrer IP-Adresse unsere Website besucht haben. Facebook kann dann
        den Besuch unserer Seiten Ihrem Benutzerkonto zuordnen und diese
        Informationen f&uuml;r die Anzeige von Facebook Ads nutzen. Wir haben
        als Anbieter der Seiten keine Kenntnis vom Inhalt der &uuml;bermittelten
        Daten sowie deren Nutzung durch Facebook.</span
      >
    </p>
    <p class="c3">
      <span class="c6"
        >Weitere Informationen hierzu finden Sie in Datenschutzerkl&auml;rung
        von Facebook: </span
      ><span class="c6 c9"
        ><a
          class="c5"
          href="https://www.google.com/url?q=https://www.facebook.com/about/privacy/&amp;sa=D&amp;ust=1586780242115000"
          >https://www.facebook.com/about/privacy/</a
        ></span
      ><span class="c2">.</span>
    </p>
    <p class="c3">
      <span class="c6"
        >Selbstverst&auml;ndlich k&ouml;nnen Sie die Datenerfassung via Custom
        Audience deaktivieren. Hierzu klicken Sie bitte auf folgenden Link: </span
      ><span class="c6 c9"
        ><a
          class="c5"
          href="https://www.google.com/url?q=https://www.facebook.com/ads/website_custom_audiences/&amp;sa=D&amp;ust=1586780242116000"
          >https://www.facebook.com/ads/website_custom_audiences/</a
        ></span
      ><span class="c2">.</span>
    </p>
    <h4 class="c7" id="h.5sb2clhkmbu1">
      <span class="c4">Nutzung des Messengers WhatsApp</span>
    </h4>
    <p class="c3">
      <span class="c2"
        >Wir bieten Besuchern unserer Webseite die M&ouml;glichkeit, mit uns
        &uuml;ber den Nachrichtendienst WhatsApp der Facebook Inc., 1 Hacker
        Way, Menlo Park, CA 94025, USA in Kontakt zu treten. Hierf&uuml;r
        verwenden wir die sog. &bdquo;Business-Version&ldquo; von
        WhatsApp.</span
      >
    </p>
    <p class="c3">
      <span class="c2"
        >Mit dem Versenden einer Startnachricht an goodgrade (nachfolgend
        Versender) erkl&auml;ren Sie sich gem&auml;&szlig; Art. 6 Abs.1 lit. a
        DSGVO damit einverstanden, dass der Versender Ihre personenbezogenen
        Daten (z.B. Name und Vorname, Telefonnummer, Messenger-ID, Profilbild,
        Nachrichten) zu der direkten Kommunikation und der daf&uuml;r
        erforderlichen Datenverarbeitung unter Benutzung des WhatsApp-Messengers
        verwendet.
      </span>
    </p>
    <p class="c3">
      <span class="c6"
        >Zweck und Umfang der Datenerhebung und die weitere Verarbeitung und
        Nutzung der Daten durch Whatsapp sowie Ihre diesbez&uuml;glichen Rechte
        und Einstellungsm&ouml;glichkeiten zum Schutz Ihrer Privatsph&auml;re
        entnehmen Sie bitte den Datenschutzhinweisen von WhatsApp: </span
      ><span class="c6 c9"
        ><a
          class="c5"
          href="https://www.google.com/url?q=https://www.whatsapp.com/legal?eea%3D1%26lang%3Dde&amp;sa=D&amp;ust=1586780242116000"
          >https://www.whatsapp.com/legal?eea=1&amp;lang=de</a
        ></span
      >
    </p>
    <p class="c3">
      <span class="c2"
        >Facebook Inc. mit Sitz in den USA ist f&uuml;r das us-europ&auml;ische
        Datenschutz&uuml;bereinkommen &bdquo;Privacy Shield&ldquo; zertifiziert,
        welches die Einhaltung des in der EU geltenden Datenschutzniveaus
        gew&auml;hrleistet. Weitere Informationen enthalten die obenstehenden
        Datenschutzrichtlinien des Messengers.</span
      >
    </p>
    <p class="c3">
      <span class="c2"
        >Mit dem Versenden einer Stopnachricht (z.B. &bdquo;STOP&ldquo; ),
        werden Sie aus dem Verteiler ausgetragen und von dem Versender keine
        weiteren Nachrichten &uuml;ber den Messenger erhalten.
      </span>
    </p>
    <h4 class="c7" id="h.u3j7m7x1xlv"><span class="c4">LinkedIn</span></h4>
    <p class="c3">
      <span class="c2"
        >Um unsere Internetseite sowie Werbema&szlig;nahmen zu optimieren,
        nutzen wir, gem&auml;&szlig; Art. 6, Abs. 1, lit. f DSGVO, das
        Retargeting Tool sowie das Conversion-Tracking der LinkedIn Ireland,
        Wilton Plaza, Wilton Place, Dublin 2, Irland (&ldquo;LinkedIn&rdquo;).
        Zu diesem Zweck ist auf unserer Webseite das LinkedIn Insight Tag
        integriert, welches es LinkedIn erm&ouml;glicht, statistische,
        pseudonyme Daten &uuml;ber Ihren Besuch und die Nutzung unserer Website
        zu erheben und uns auf dieser Grundlage entsprechende aggregierte
        Statistiken zur Verf&uuml;gung zu stellen. Es werden dabei in der Regel
        unter anderem folgende Angaben erfasst:</span
      >
    </p>
    <ul class="c10 lst-kix_j32uv1kfchbv-0 start">
      <li class="c13"><span class="c2">LinkedIn User ID (Cookie ID)</span></li>
      <li class="c13"><span class="c2">IP Adresse</span></li>
      <li class="c13">
        <span class="c2"
          >Metadaten des Website-Besuchs, wie bspw. Browser-Typ, besuchte
          Website</span
        >
      </li>
    </ul>
    <p class="c3">
      <span class="c2"
        >Au&szlig;erdem dienen diese Angaben dazu, Ihnen interessenspezifische
        und relevante Angebote und Empfehlungen anzeigen zu k&ouml;nnen, nachdem
        Sie sich auf der Webseite &uuml;ber bestimmte Services, Informationen
        und Angebote informiert haben. Die diesbez&uuml;glichen Angaben werden
        in einem Cookie gespeichert.</span
      >
    </p>
    <p class="c3">
      <span class="c6"
        >Weitere Informationen zur Datenverarbeitung finden Sie in der
        Datenschutzerkl&auml;rung von LinkedIn unter </span
      ><span class="c6 c9"
        ><a
          class="c5"
          href="https://www.google.com/url?q=https://www.linkedin.com/legal/privacy-policy&amp;sa=D&amp;ust=1586780242118000"
          >https://www.linkedin.com/legal/privacy-policy</a
        ></span
      >
    </p>
    <p class="c3">
      <span class="c6"
        >Wollen Sie dieses Tracking unterbinden, dann k&ouml;nnen Sie daf&uuml;r
        den folgenden Link verwenden: </span
      ><span class="c6 c9"
        ><a
          class="c5"
          href="https://www.google.com/url?q=https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out&amp;sa=D&amp;ust=1586780242118000"
          >https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out</a
        ></span
      ><span class="c2">.</span>
    </p>
    <h4 class="c7" id="h.3yf72b6n4w46">
      <span class="c4">4. Server-Log-Files / IP-Adressen</span>
    </h4>
    <p class="c3">
      <span class="c2"
        >Bei jedem Zugriff auf die Seiten von www.naklar.io werden Nutzungsdaten
        durch den jeweiligen Internetbrowser &uuml;bermittelt und in
        Protokolldateien (Server-Logfiles) gespeichert. Wir behalten uns vor,
        dabei folgende Daten zu speichern: Datum und Uhrzeit des Abrufs, Name
        der aufgerufenen Seite, IP-Adresse, Referrer-URL (Herkunfts-URL, von der
        aus Sie auf die Webseiten gekommen sind), die &uuml;bertragene
        Datenmenge, sowie Produkt und Versions-Informationen des verwendeten
        Browsers und Betriebssystems.</span
      >
    </p>
    <p class="c3">
      <span class="c2"
        >Die IP-Adressen der Nutzer werden nach Beendigung der Nutzung
        gel&ouml;scht oder anonymisiert.</span
      >
    </p>
    <h4 class="c7" id="h.mrbf534tkds"><span class="c4">5. Werbemail</span></h4>
    <p class="c3">
      <span class="c2"
        >F&uuml;r den Versand von Werbemails verwenden wir das sogenannte Double
        Opt-In-Verfahren, d.h. wir werden Ihnen erst dann Werbung per E-Mail
        zusenden, wenn Sie uns zuvor ausdr&uuml;cklich best&auml;tigt haben,
        dass wir den Werbemail-Dienst aktivieren sollen. Wir werden Ihnen dann
        eine Benachrichtigungs-E-Mail zusenden und Sie bitten, durch das
        Anklicken eines in dieser E-Mail enthaltenen Links zu best&auml;tigen,
        dass Sie unsere Werbemails erhalten m&ouml;chten.</span
      >
    </p>
    <p class="c3">
      <span class="c2"
        >Sollten Sie keine Werbemails mehr von uns erhalten wollen, k&ouml;nnen
        Sie jederzeit durch eine formlose Mitteilung per E-Mail an
        info(at)naklar.io oder per FAX an 089 / 614 24 22 99 dem Erhalt der
        Werbemail widersprechen oder Sie nutzen den in jedem unserer Werbemail
        enthaltenen Abmeldelink.</span
      >
    </p>
    <h4 class="c7" id="h.yokqw7ie2ajs">
      <span class="c4">6. Kontaktformular</span>
    </h4>
    <p class="c3">
      <span class="c2"
        >Wenn Sie uns per Kontaktformular Anfragen zukommen lassen, werden Ihre
        Angaben aus dem Anfrageformular inklusive der von Ihnen dort angegebenen
        Kontaktdaten zwecks Bearbeitung der Anfrage bei uns gespeichert. Die
        Daten werden umgehend gel&ouml;scht sobald Ihre Anfrage beantwortet
        wurde und keine gesetzlichen Aufbewahrungspflichten bestehen. Eine
        Nutzung zu einem anderen Zweck oder eine Datenweitergabe findet ohne
        Ihre Einwilligung nicht statt.</span
      >
    </p>
    <h4 class="c7" id="h.olko1dct4fl"><span class="c4">7. Cookies</span></h4>
    <p class="c3">
      <span class="c2"
        >goodgrade setzt auf der Homepage sogenannte Cookies ein, welche auf
        Ihrem Computer als Datei gespeichert werden. Die gesammelten Daten
        werden dazu verwendet unser Angebot nutzerfreundlicher zu machen und
        somit so komfortabel wie m&ouml;glich zu gestalten und um
        Werbema&szlig;nahmen zu optimieren. Das Akzeptieren von Cookies ist
        nicht notwendig um unsere Webseite zu besuchen. Sie k&ouml;nnen Ihren
        Browser so einstellen, dass Sie &uuml;ber das Setzen von Cookies
        informiert werden und Cookies nur im Einzelfall erlauben, die Annahme
        von Cookies f&uuml;r bestimmte F&auml;lle oder generell
        ausschlie&szlig;en sowie das automatische L&ouml;schen der Cookies beim
        Schlie&szlig;en des Browser aktivieren. Bei der Deaktivierung von
        Cookies kann die Funktionalit&auml;t dieser Website eingeschr&auml;nkt
        sein.</span
      >
    </p>
    <p class="c1"><span class="c2"></span></p>
    <p class="c14"><span class="c19">8. YouTube</span></p>
    <p class="c14">
      <span class="c2"
        >Diese Website bindet Videos der Website YouTube ein. Betreiber der
        Website ist die Google Ireland Limited (&bdquo;Google&ldquo;), Gordon
        House, Barrow Street, Dublin 4, Irland. Wenn Sie eine unserer Webseiten
        besuchen, auf denen YouTube eingebunden ist, wird eine Verbindung zu den
        Servern von YouTube hergestellt. Dabei wird dem YouTube-Server
        mitgeteilt, welche unserer Seiten Sie</span
      >
    </p>
    <p class="c14">
      <span class="c2"
        >besucht haben. Des Weiteren kann YouTube verschiedene Cookies auf Ihrem
        Endger&auml;t speichern. Mit Hilfe dieser Cookies kann YouTube
        Informationen u&#776;ber Besucher dieser Website erhalten. Diese
        Informationen werden u. a. verwendet, um Videostatistiken zu erfassen,
        die Anwenderfreundlichkeit zu verbessern und Betrugsversuchen
        vorzubeugen. Die Cookies verbleiben auf Ihrem Endger&auml;t, bis Sie sie
        l&ouml;schen. Wenn Sie in Ihrem YouTube-Account eingeloggt sind,
        erm&ouml;glichen Sie YouTube, Ihr Surfverhalten direkt Ihrem
        pers&ouml;nlichen Profil zuzuordnen. Dies k&ouml;nnen Sie verhindern,
        indem Sie sich aus Ihrem YouTube-</span
      >
    </p>
    <p class="c14">
      <span class="c6"
        >Account ausloggen. Die Nutzung von YouTube erfolgt im Interesse einer
        ansprechenden Darstellung unserer Online-Angebote. Dies stellt ein
        berechtigtes Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO dar.
        Sofern eine entsprechende Einwilligung abgefragt wurde, erfolgt die
        Verarbeitung ausschlie&szlig;lich auf Grundlage von Art. 6 Abs. 1 lit. a
        DSGVO; die Einwilligung ist jederzeit widerrufbar. Weitere Informationen
        zum Umgang mit Nutzerdaten finden Sie in der Datenschutzerkl&auml;rung
        von YouTube unter: </span
      ><span class="c6">https://policies.google.com/privacy?hl=de</span
      ><span class="c2">.</span>
    </p>
    <p class="c1"><span class="c2"></span></p>
    <p class="c1"><span class="c2"></span></p>
    <p class="c1"><span class="c2"></span></p>
    <p class="c1"><span class="c2"></span></p>
    <p class="c1"><span class="c2"></span></p>
    <p class="c1"><span class="c2"></span></p>
    <p class="c8"><span class="c15"></span></p>
