.custom-select {
  height: 3.125em;
}

::ng-deep {
  .custom-slider .ngx-slider {
      .ngx-slider-selection {
          background: $primary;
      }

      .ngx-slider-pointer {
          background: $primary !important;
          outline: none;
      }
      .ngx-slider-tick.ngx-slider-selected {
          background: $primary;
        }
  }
}